Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner

sec-inv-branch Fix : fix createController
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

sec-inv-branch Fix : fix Path.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Path.java
Owners: @PROCOM-ERP/backend-owner

Fix: init.sql and AuthController imports and exceptions
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/AuthController.java
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

hotfix userId in OrderForm
  src/frontend/webappService/src/components/OrderForm.js
Owners: @PROCOM-ERP/frontend-owner

feat(errors): handling 400 and 422 errors
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/pages/errors/ErrorForm.js
Owners: @PROCOM-ERP/frontend-owner

add navigate to /profil page when modify profil is submitted (changes in user profil)
  src/frontend/webappService/src/components/ProfilForm.js
Owners: @PROCOM-ERP/frontend-owner

fix(Enter on form)
  src/frontend/webappService/src/components/AuthForm.js
Owners: @PROCOM-ERP/frontend-owner

Fix: RoleService in all services
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/RoleService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/RoleService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

sec-inv-branch Fix : last fixes. tests are OK
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/MoveItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/QuantityUpdateRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

sec-inv-branch Fix : last fixes. tests are OK
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

sec-inv-branch Fix : last fixes. tests are OK
  docs/tests/authenticationService/Auth service test.postman_collection.json
  docs/tests/directoryService/Dir service test.postman_collection.json
  docs/tests/inventoryService/Inv Service test.postman_collection.json
Owners: @PROCOM-ERP/global-owner

Fix: .gitattributes
  .gitattributes
Owners: @PROCOM-ERP/global-owner

Fix: init.sql files to fit the scenario
  src/databases/authenticationService/init.sql
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

Fix: MessageReceiverService logs in directory service
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageReceiverService.java
Owners: @PROCOM-ERP/backend-owner

handlerFormError file created (/src/utils) handlerFormError integrated in ProfilForm (working)
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/utils/handleFormError.js
Owners: @PROCOM-ERP/frontend-owner

delete useless code in profilForm
  src/frontend/webappService/src/components/ProfilForm.js
Owners: @PROCOM-ERP/frontend-owner

add handlerFormError in passwordForm
  src/frontend/webappService/src/components/PasswordForm.js
Owners: @PROCOM-ERP/frontend-owner

add error handler file in orderForm
  src/frontend/webappService/src/components/OrderForm.js
  src/frontend/webappService/src/components/PasswordForm.js
Owners: @PROCOM-ERP/frontend-owner

add handling error 400 and 422 in roleForm
  src/frontend/webappService/src/components/admin/RoleForm.js
Owners: @PROCOM-ERP/frontend-owner

add handling error 400 and 422 in displayPermission
  src/frontend/webappService/src/components/admin/DisplayPermissions.js
Owners: @PROCOM-ERP/frontend-owner

add handleFormError in userForm
  src/frontend/webappService/src/components/admin/UserForm.js
Owners: @PROCOM-ERP/frontend-owner

Release: Version and dates updated
  README.md
  docs/api/doc-api-authentication-service.json
  docs/api/doc-api-directory-service.json
  docs/api/doc-api-order-service.json
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/AuthServiceApplication.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/DirectoryServiceApplication.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/InventoryServiceApplication.java
  src/backend/orderService/src/main/java/com/example/orderservice/OrderServiceApplication.java
  src/databases/authenticationService/init.sql
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

change button in UserProfilAdmin (Back -- Save)
  src/frontend/webappService/src/components/admin/UserProfilAdmin.js
Owners: @PROCOM-ERP/frontend-owner

add handlerFormError in UserProfilAdmin
  src/frontend/webappService/src/components/admin/UserProfilAdmin.js
Owners: @PROCOM-ERP/frontend-owner

change colors in directoryTable for admin
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/components/admin/UserProfilAdmin.js
  src/frontend/webappService/src/css/Button.css
  src/frontend/webappService/src/css/DirectoryTable.css
  src/frontend/webappService/src/css/UserProfil.css
Owners: @PROCOM-ERP/frontend-owner

change colors for adminDirectory page
  src/frontend/webappService/src/components/Button.js
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/css/DirectoryTable.css
Owners: @PROCOM-ERP/frontend-owner

fix(erro403) on authForm
  src/frontend/webappService/src/components/AuthForm.js
Owners: @PROCOM-ERP/frontend-owner

change color for user admin profil
  src/frontend/webappService/src/components/Button.js
  src/frontend/webappService/src/components/admin/UserProfilAdmin.js
  src/frontend/webappService/src/css/Button.css
Owners: @PROCOM-ERP/frontend-owner

add background color in user profil (was deleted due to changes in directoryTable)
  src/frontend/webappService/src/components/UserProfil.js
Owners: @PROCOM-ERP/frontend-owner

Hotfix inv branch Dev : adding the fetch user id for transaction.
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/MoveItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/NewItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/QuantityUpdateRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

fix(addUser): redirection
  src/frontend/webappService/src/components/admin/UserForm.js
Owners: @PROCOM-ERP/frontend-owner

change button colors for user change colors for DisplayOrders
  src/frontend/webappService/src/components/DisplayOrders.js
  src/frontend/webappService/src/css/Button.css
  src/frontend/webappService/src/css/DirectoryTable.css
Owners: @PROCOM-ERP/frontend-owner

fix
  src/frontend/webappService/src/components/PasswordForm.js
Owners: @PROCOM-ERP/frontend-owner

fix(address)
  src/frontend/webappService/src/components/admin/UserProfilAdmin.js
Owners: @PROCOM-ERP/frontend-owner

change css for profilForm
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/css/ProfilForm.css
Owners: @PROCOM-ERP/frontend-owner

Hotfix inv branch Fix : last changes
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

change css for paswordForm
  src/frontend/webappService/src/components/PasswordForm.js
Owners: @PROCOM-ERP/frontend-owner

change approver to orderer in table for DisplayOrders
  src/frontend/webappService/src/components/DisplayOrders.js
Owners: @PROCOM-ERP/frontend-owner

add null value for state and info in orderForm (dataProcessing)
  src/frontend/webappService/src/components/OrderForm.js
Owners: @PROCOM-ERP/frontend-owner

css changes for profilForm
  src/frontend/webappService/src/components/OrderForm.js
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/components/admin/UserProfilAdmin.js
  src/frontend/webappService/src/css/Button.css
  src/frontend/webappService/src/css/ProfilForm.css
Owners: @PROCOM-ERP/frontend-owner
