Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

Add: Order Service DB table creation script
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

Add: Order Service DB table creation script
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

add route in App.js delete console.log in directoryTable add isAdmin in directoryTable add page to manage user information and roles
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/components/UserProfilAdmin.js
  src/frontend/webappService/src/pages/AdminUser.js
  src/frontend/webappService/src/pages/AdminUsers.js
  src/frontend/webappService/src/pages/DirectoryProfil.js
Owners: @PROCOM-ERP/frontend-owner

modify handleBack in UserProfilAdmin to set correct format to setModifiedUserInfo
  src/frontend/webappService/src/components/UserProfilAdmin.js
Owners: @PROCOM-ERP/frontend-owner

Add: Order Service DB table creation + init script
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

feat: new ProfilForm page, sec checks to upgrade
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/ProfilForm.css
  src/frontend/webappService/src/css/UserProfil.css
Owners: @PROCOM-ERP/frontend-owner

feat: docker user for databases is not sudo anymore
  src/databases/authenticationService/Dockerfile
  src/databases/directoryService/Dockerfile
  src/databases/inventoryService/Dockerfile
Owners: @PROCOM-ERP/system-owner

add AddUser page
  src/frontend/webappService/src/pages/AddUser.js
Owners: @PROCOM-ERP/frontend-owner

add /addUser route in App.js
  src/frontend/webappService/src/App.js
Owners: @PROCOM-ERP/frontend-owner

add button "add user" to DirectporyTable.js add handleAddUser to redirect to /addUser page when clicked
  src/frontend/webappService/src/components/DirectoryTable.js
Owners: @PROCOM-ERP/frontend-owner

change button to link in DirectoryTable
  src/frontend/webappService/src/components/DirectoryTable.js
Owners: @PROCOM-ERP/frontend-owner

add css for the button change link to button
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/css/DirectoryTable.css
Owners: @PROCOM-ERP/frontend-owner

change css to place the add user button at the top right of the page, above the table (DirectoryTable.css) add div container needed to do the css correctly
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/css/DirectoryTable.css
Owners: @PROCOM-ERP/frontend-owner

manage to display add user button only for admin
  src/frontend/webappService/src/components/DirectoryTable.js
Owners: @PROCOM-ERP/frontend-owner

add classname="xxx" in DisplayPermissions.js add title in AdminPermissions.js change modal to popup in DisplayPermissions.js
  src/frontend/webappService/src/components/DisplayPermissions.js
  src/frontend/webappService/src/pages/AdminPermissions.js
Owners: @PROCOM-ERP/frontend-owner

add DisplayPermissions.css file
  src/frontend/webappService/src/css/DisplayPermissions.css
Owners: @PROCOM-ERP/frontend-owner

add css for h2 -> title2 in App.css add css for select in DisplayPermissions.css change title in AdminPermissions.js add css import in DisplayPermissions.js
  src/frontend/webappService/src/components/DisplayPermissions.js
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/css/DisplayPermissions.css
  src/frontend/webappService/src/pages/AdminPermissions.js
Owners: @PROCOM-ERP/frontend-owner

add className to div in DisplayPermissions to do css change css in DisplayPermissions.css
  src/frontend/webappService/src/components/DisplayPermissions.js
  src/frontend/webappService/src/css/DisplayPermissions.css
Owners: @PROCOM-ERP/frontend-owner

change RoleForm.js and RoleForm.css CSS for addRole (admin) done
  src/frontend/webappService/src/components/RoleForm.js
  src/frontend/webappService/src/css/RoleForm.css
Owners: @PROCOM-ERP/frontend-owner

add comments to RoleForm.css
  src/frontend/webappService/src/css/RoleForm.css
Owners: @PROCOM-ERP/frontend-owner

add comments in RoleForm.js
  src/frontend/webappService/src/components/RoleForm.js
Owners: @PROCOM-ERP/frontend-owner

add comments in Navbar.css
  src/frontend/webappService/src/css/Navbar.css
  src/frontend/webappService/src/css/RoleForm.css
Owners: @PROCOM-ERP/frontend-owner

change :root variable (css) in App.css change variables in Navbar.css
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/css/AuthForm.css
  src/frontend/webappService/src/css/Navbar.css
Owners: @PROCOM-ERP/frontend-owner

add comments in AuthForm.css
  src/frontend/webappService/src/css/AuthForm.css
Owners: @PROCOM-ERP/frontend-owner

Dev : E04-US07-T02/T04 Adding a new DTO.
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/MoveItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

Dev : E04-US07-T02/T04 Adding product logic and interface.
  docs/diagrams/Product_interface_v1.drawio
Owners: @PROCOM-ERP/global-owner

Dev : E04-US07-T02/T04 finishing defining the product API
  docs/diagrams/Product_interface_v1.drawio
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/NewItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

Dev : E04-US07-T02/T04 new updateQuantity exceptions
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

Dev : E04-US07-T02/T04 working on moveToAddress(); updateQuantity(); addNewItem()
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/MoveItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

Fix : E04-US07-T02/T04 add new constraint in SQL
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/databases-owner

Dev : E04-US07-T02/T04 addNewItem() seems to be finished.
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

Dev : E04-US07-T02/T04 moveToAddress()
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

Dev : E04-US07-T02/T04 moveToAddress(); updateQuantity(); addNewItem() finished.
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

Fix : E04-US07-T02/T04 changing exception with the right one.
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

Dev : E04-US07-T02/T04 Adding the @ApiResponse and @Operation
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
Owners: @PROCOM-ERP/backend-owner

Dev : E04-US07-T02/T04 Adding the checkValue() on API: from gruyère to -100dB security
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
Owners: @PROCOM-ERP/backend-owner

Dev : X Adding the checkValue() on API: from gruyère to -100dB security
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductMetaRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Dev : X Adding the checkValue() on API: from gruyère to -100dB security
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/CategoryRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/MoveItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/NewItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/QuantityUpdateRequestDto.java
Owners: @PROCOM-ERP/backend-owner

Dev : X Adding the checkValue() on API: from gruyère to -100dB security
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/NewItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
Owners: @PROCOM-ERP/backend-owner

Add: Order Service DB employees table created_at
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner
