Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner

Add: JSR 380 constraints on other half DTO class for Authentication service
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleActivationResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RolesMicroservicesResponseDto.java
Owners: @PROCOM-ERP/backend-owner

Add: JSR 380 constraints on Controllers for Authentication service
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/EmployeeEmailResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileActivationResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileIdResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfilePasswordUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RolesMicroservicesResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomRegexPattern.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RegexUtils.java
Owners: @PROCOM-ERP/backend-owner

Update: ControllerExceptionHandler.java with custom HttpResponse and logs
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/HttpStatusErrorDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
Owners: @PROCOM-ERP/backend-owner

Update: ControllerExceptionHandler.java with custom HttpResponse and logs
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
Owners: @PROCOM-ERP/backend-owner

Update: ControllerExceptionHandler.java with custom HttpResponse and logs
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/HttpStatusErrorDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/ControllerExceptionHandler.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/HttpStatusErrorDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/ControllerExceptionHandler.java
Owners: @PROCOM-ERP/backend-owner

Update: pom.xml with spring-boot-start-validation
  src/backend/authenticationService/pom.xml
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileCreationRequestDto.java
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

add function for data processing before post
  src/frontend/webappService/src/components/OrderForm.js
Owners: @PROCOM-ERP/frontend-owner

Update: ControllerExceptionHandler.java with custom HttpResponse and logs
  src/backend/authenticationService/prod-pom.xml
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/EmployeeEmailResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/HttpStatusErrorDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileActivationResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileIdResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfilePasswordUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/PermissionDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleActivationResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RolesMicroservicesResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomStringUtils.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RegexUtils.java
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

fix(compose): no need to specify ip range
  docker/docker-compose-swarm.yml
  docker/docker-compose.yml
Owners: @PROCOM-ERP/system-owner

added gitattributes
  .gitattributes
Owners: @PROCOM-ERP/global-owner

docs: updated docs for deployment and Repository
  README.md
  docs/DEPLOYING.md
  docs/security/README.md
Owners: @PROCOM-ERP/doc-owner

fix: reminiscent artifact
  docker/docker-compose.yml
Owners: @PROCOM-ERP/system-owner

docs: precision about docker deploy on windows
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

fix: undeploy erp
  undeploy.sh
Owners: @PROCOM-ERP/system-owner

add Error404.js page change App.js (add css for text)
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/pages/Error404.js
Owners: @PROCOM-ERP/frontend-owner

add route in App.js
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/pages/Error404.js
Owners: @PROCOM-ERP/frontend-owner

add error pages (401 and 403)
  src/frontend/webappService/src/components/AuthHelloWorld.js
  src/frontend/webappService/src/pages/Authentification.js
  src/frontend/webappService/src/pages/Error401.js
  src/frontend/webappService/src/pages/Error403.js
  src/frontend/webappService/src/pages/Error404.js
Owners: @PROCOM-ERP/frontend-owner

add route in App.js for error pages add error redirection in DirectoryTable and DisplayPermission
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/components/DisplayPermissions.js
Owners: @PROCOM-ERP/frontend-owner

test on github doc
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

test
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

test
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: adding gh integration
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

test 2000
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: integrating
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: deploying is prettier
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

test on docs once again
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: test
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: test
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: update
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: update
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: update
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: update
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: update
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: update
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: update
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

Add: Exception management and sanitization in RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomStringUtils.java
Owners: @PROCOM-ERP/backend-owner

Add: Exception management and sanitization in LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomPasswordGenerator.java
Owners: @PROCOM-ERP/backend-owner

Add: Exception management and sanitization in LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
Owners: @PROCOM-ERP/backend-owner

Add: Exception management for security purposes
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/JwtService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/PerformanceTracker.java
Owners: @PROCOM-ERP/backend-owner

Add: Exception management for security purposes
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
Owners: @PROCOM-ERP/backend-owner
