Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

logo image added in navbar
  src/frontend/webappService/public/images/logo-remove-bg.png
  src/frontend/webappService/public/images/logo.png
  src/frontend/webappService/public/images/poster.jpg
  src/frontend/webappService/public/images/scenario.png
  src/frontend/webappService/src/components/Navbar.js
  src/frontend/webappService/src/css/Navbar.css
Owners: @PROCOM-ERP/frontend-owner

add image in home page
  src/frontend/webappService/src/components/DisplayHome.js
  src/frontend/webappService/src/css/Home.css
  src/frontend/webappService/src/pages/Home.js
  src/frontend/webappService/src/pages/admin/AdminHome.js
Owners: @PROCOM-ERP/frontend-owner

Fix: Role save operations in authentication service
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Role.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/RoleActivation.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Fix: Role save operations in authentication service
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

docs: renamed Security guide
  docs/DEPLOYING.md
  docs/SYSTEM_SECURITY.md
Owners: @PROCOM-ERP/doc-owner

Update: doc files path and name
  BACKLOG.md
  docs/CHANGELOG.md
  docs/classes/.$inventory-class-diagram.svg.bkp
  docs/contributing/CONTRIBUTING.md
  docs/contributing/contributing-workflow-git-hotfix.png
  docs/contributing/contributing-workflow-git-new-feature.png
  docs/contributing/contributing-workflow-git-new-release.png
  docs/diagrams/doc-diagram-authService.drawio
  docs/diagrams/inventory-class-diagram-draft.svg
  docs/diagrams/inventory-product-flow-chart.drawio
  docs/links/doc-links-API-swagger.md
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner

Added: USAGE.md with two scenarios
  docs/USAGE.md
Owners: @PROCOM-ERP/doc-owner

Added: USAGE.md with description
  docs/USAGE.md
Owners: @PROCOM-ERP/doc-owner

Update: USAGE.md with table of contents
  docs/USAGE.md
Owners: @PROCOM-ERP/doc-owner

Update: USAGE.md with table of contents
  docs/USAGE.md
Owners: @PROCOM-ERP/doc-owner

Updated: CONTRIBUTING.md Javadoc example
  docs/contributing/CONTRIBUTING.md
Owners: @PROCOM-ERP/doc-owner

Updated: USAGE.md with the last scenarios
  docs/USAGE.md
  docs/contributing/CONTRIBUTING.md
Owners: @PROCOM-ERP/doc-owner

Fix: USAGE.md db restoration info
  docs/USAGE.md
Owners: @PROCOM-ERP/doc-owner

Added: MODELING.md with basic structure
  docs/MODELING.md
  docs/USAGE.md
Owners: @PROCOM-ERP/doc-owner

Fix: Inventory service ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

Updated: CHANGELOG.md
  docs/CHANGELOG.md
  docs/FEATURES.md
  docs/USAGE.md
Owners: @PROCOM-ERP/doc-owner

Added: System Schematic Diagram
  docs/MODELING.md
  docs/diagrams/system-schematic-diagram.drawio.svg
  docs/diagrams/system-schematic-diagram.png
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner

Added: System Schematic Diagram authentication service description
  docs/MODELING.md
Owners: @PROCOM-ERP/doc-owner

Added: System Schematic Diagram whole description
  docs/MODELING.md
Owners: @PROCOM-ERP/doc-owner

Added: Message system topology description
  docs/MODELING.md
  docs/diagrams/message-exchange-network-topology.drawio.svg
  docs/diagrams/message-exchange-network-topology.png
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner

Added: FEATURES.md features list
  docs/FEATURES.md
Owners: @PROCOM-ERP/doc-owner

Added: Use case diagram
  docs/FEATURES.md
  docs/diagrams/use-case-diagram.drawio.svg
  docs/diagrams/use-case-diagram.png
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner

Added: com.example.authenticationservice.annotation package javadoc
  docs/contributing/CONTRIBUTING.md
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogError.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogExecutionTime.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogMessageReceived.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogMessageSent.java
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/backend-owner

Added: com.example.authenticationservice.config package javadoc
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/RabbitMQConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/RestConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/SecurityConfig.java
Owners: @PROCOM-ERP/backend-owner

Added: com.example.authenticationservice.controller package javadoc
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/RabbitMQConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/AuthController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/HelloController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
Owners: @PROCOM-ERP/backend-owner

Added: com.example.directoryservice.controller package OpenAPI doc
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/AuthController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/AddressController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/EmployeeController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/HelloController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/OrganisationController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/RoleController.java
Owners: @PROCOM-ERP/backend-owner

Added: com.example.orderservice.controller package OpenAPI doc
  src/backend/orderService/src/main/java/com/example/orderservice/controller/EmployeeController.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/HelloController.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/ProviderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/RoleController.java
Owners: @PROCOM-ERP/backend-owner

Updated: API doc
  docs/api/doc-api-authentication-service.json
  docs/api/doc-api-directory-service.json
  docs/api/doc-api-order-service.json
Owners: @PROCOM-ERP/global-owner

docs(Roadmap): next steps added
  README.md
  docs/ROADMAP.md
Owners: @PROCOM-ERP/doc-owner

Hotfix inv branch Fix : last changes
  docs/tests/authenticationService/authService.postman_collection.json
  docs/tests/directoryService/dirService.postman_collection.json
  docs/tests/erp.postman_environment.json
  docs/tests/inventoryService/invService.postman_collection.json
  docs/tests/testSetup.postman_collection.json
Owners: @PROCOM-ERP/global-owner

Updated: ROADMAP.md
  README.md
  docs/ROADMAP.md
Owners: @PROCOM-ERP/doc-owner

Updated: ROADMAP.md for AMQP message reliability, Backend optimisation, UI/UX enhancement
  docs/ROADMAP.md
Owners: @PROCOM-ERP/doc-owner

Updated: ROADMAP.md CONTRIBUTING.md link
  docs/ROADMAP.md
Owners: @PROCOM-ERP/doc-owner

fixed DisplayOrder css
  src/frontend/webappService/src/components/DisplayOrder.js
Owners: @PROCOM-ERP/frontend-owner

docs(Readme): Added the poster image
  README.md
  docs/images/directory.png
  docs/images/poster.jpg
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner
