Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

fix: oopsie
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

fix: reoopsie
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

MessageSenderService added to directory module
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageReceiverService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

MessageSenderService added to directory module
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

Implements message sending operations in RoleService
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/RabbitMQReceiver.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/RabbitMQSender.java
Owners: @PROCOM-ERP/backend-owner

Implements message sending operations in RoleService
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
Owners: @PROCOM-ERP/backend-owner

Implements message sending operations in RoleService
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
Owners: @PROCOM-ERP/backend-owner

system: AuthService is now independent for building
  pom.xml
  src/backend/authenticationService/pom.xml
Owners: @PROCOM-ERP/system-owner

Implements message sending operations in RoleService
  src/databases/directoryService/init.sql
Owners: @PROCOM-ERP/databases-owner

Fix: save external roles methods
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Update: LoginProfile method names
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileActivationResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Endpoint.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Path.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/LoginProfileRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

Update: Add password generator
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomPasswordGenerator.java
Owners: @PROCOM-ERP/backend-owner

Update: Add email agent dependency
  pom.xml
  src/backend/authenticationService/pom.xml
  src/backend/authenticationService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

Update: Add email sender
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileMessageDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/LoginProfileRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageSenderService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomEmailSender.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomPasswordGenerator.java
  src/backend/authenticationService/src/main/resources/application.yml
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomJwtAuthenticationConverter.java
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner

Update: LoginProfileController
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
Owners: @PROCOM-ERP/backend-owner

Update: LoginProfileController
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Endpoint.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Path.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Permission.java
Owners: @PROCOM-ERP/backend-owner

Update: LoginProfileService
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
Owners: @PROCOM-ERP/backend-owner

Fix: LoginProfileService unused statements
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
Owners: @PROCOM-ERP/backend-owner

Try: MailSender Agent
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/MailConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomEmailSender.java
  src/backend/authenticationService/src/main/resources/application.yml
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/ControllerExceptionHandler.java
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner

ajout des font pour user profil dans le CSS
  src/frontend/webappService/src/css/UserProfil.css
Owners: @PROCOM-ERP/frontend-owner

modif timeout backend add permissions page fro admin
  src/backend/authenticationService/src/main/resources/application.yml
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/components/DisplayPermissions.js
  src/frontend/webappService/src/pages/AdminPermissions.js
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/frontend-owner

Commit. =)
  docs/classes/.$inventory-class-diagram.svg.dtmp
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ProductMetaDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/ProductMeta.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Transaction.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductMetaService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Try: MailSender Agent
  pom.xml
  src/backend/authenticationService/pom.xml
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/MailConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomEmailSender.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomMailBuilder.java
  src/backend/authenticationService/src/main/resources/application.yml
  src/backend/gatewayService/pom.xml
  src/backend/gatewayService/src/main/java/com/example/gatewayService/config/SecurityConfig.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/model/Endpoint.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/model/Path.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/model/Permission.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/service/EndpointService.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/service/MailService.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/service/PermissionService.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/utils/ControllerExceptionHandler.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/utils/CustomJwtAuthenticationConverter.java
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

Affichage des information utilisateur v2.0 WIP
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/UserProfil.css
Owners: @PROCOM-ERP/frontend-owner

The get functions works perfectly ! (Youpi)
  docs/classes/.$inventory-class-diagram.svg.dtmp
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Transaction.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Working on E04-US05-T01
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/CategoryRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductMetaRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
Owners: @PROCOM-ERP/backend-owner

display permissions added (admin) in progress
  src/frontend/webappService/src/components/DisplayPermissions.js
Owners: @PROCOM-ERP/frontend-owner

Working on E04-US05-T01
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

system: mvn clean install in compose build
  .env
  docker-compose.yml
  src/backend/authenticationService/Dockerfile
  src/backend/authenticationService/prod-pom.xml
  src/backend/directoryService/Dockerfile
  src/backend/directoryService/prod-pom.xml
  src/backend/gatewayService/Dockerfile
  src/backend/gatewayService/prod-pom.xml
Owners: @PROCOM-ERP/system-owner

Working on E04-US05-T01
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/CategoryRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Category.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/ProductMeta.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Transaction.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/CategoryRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductMetaService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

Working on E04-US05-T01 Le Post Product marche partiellement
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

Working on E04-US05-T01 Le Post Product marche partiellement DODO maintenant
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
Owners: @PROCOM-ERP/backend-owner

Expose Authentication Service port to use MailService
  docker-compose.yml
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MailService.java
  src/backend/authenticationService/src/main/resources/application.yml
  src/backend/gatewayService/src/main/java/com/example/gatewayService/config/SecurityConfig.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/model/Endpoint.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/model/Path.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/model/Permission.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/service/EndpointService.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/service/MailService.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/service/PermissionService.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/utils/ControllerExceptionHandler.java
  src/backend/gatewayService/src/main/java/com/example/gatewayService/utils/CustomJwtAuthenticationConverter.java
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

Expose Authentication Service port to use MailService
  src/backend/gatewayService/pom.xml
Owners: @PROCOM-ERP/system-owner

Fix: MailService functional
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/resources/application.yml
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner

Add: getAllRoleNames endpoint
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Bouton de 'modify' dans le prodil fonctionnel
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/UserProfil.css
  src/frontend/webappService/src/pages/ModifyProfil.js
Owners: @PROCOM-ERP/frontend-owner

debut de modify profil
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/pages/ModifyProfil.js
Owners: @PROCOM-ERP/frontend-owner

Suite du dev de modify profil
  src/frontend/webappService/src/components/ProfilForm.js
Owners: @PROCOM-ERP/frontend-owner

Working on E04-US05-T01 Post on product with categories works. Working on adding items when creating product
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner
