Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner

Fix: JwtService log generation only for User Jwt request + OrderService log added to getOrderById
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/JwtService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
Owners: @PROCOM-ERP/backend-owner

delete Button component (not used) in Profil.js
  src/frontend/webappService/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner

add CheckUserConnection in all user page file (./pages/*)
  src/frontend/webappService/src/pages/AddOrder.js
  src/frontend/webappService/src/pages/Directory.js
  src/frontend/webappService/src/pages/DirectoryProfil.js
  src/frontend/webappService/src/pages/Home.js
  src/frontend/webappService/src/pages/Inventory.js
  src/frontend/webappService/src/pages/ModifyPassword.js
  src/frontend/webappService/src/pages/ModifyProfil.js
  src/frontend/webappService/src/pages/OrderManagement.js
  src/frontend/webappService/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner

Fix: JwtService log generation only for User Jwt request + CustomUserDetailsService Exception added
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/AuthServiceApplication.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/CustomUserDetailsService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/JwtService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/DirectoryServiceApplication.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/ControllerExceptionHandler.java
  src/backend/orderService/src/main/java/com/example/orderservice/OrderServiceApplication.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/ControllerExceptionHandler.java
Owners: @PROCOM-ERP/backend-owner

Fix: JwtService log generation only for User Jwt request + CustomUserDetailsService Exception added
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/AuthServiceApplication.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/AuthController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/JwtService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/DirectoryServiceApplication.java
  src/backend/orderService/src/main/java/com/example/orderservice/OrderServiceApplication.java
Owners: @PROCOM-ERP/backend-owner

change in CheckAdminConnection in useEffect because admin could not access to the page beacause of async function (working now)
  src/frontend/webappService/src/components/CheckAdminConnection.js
Owners: @PROCOM-ERP/frontend-owner

Add: CustomLogger.java methods to log messages
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLogger.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLogger.java
Owners: @PROCOM-ERP/backend-owner

add Order and DisplayOrder
  src/frontend/webappService/src/components/DisplayOrder.js
  src/frontend/webappService/src/pages/Order.js
Owners: @PROCOM-ERP/frontend-owner

add route to app.js
  src/frontend/webappService/src/App.js
Owners: @PROCOM-ERP/frontend-owner

Add: Message sent log in Authentication Service
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogMessageSent.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageSenderService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLogger.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLoggingAspect.java
Owners: @PROCOM-ERP/backend-owner

Fix: deploy.sh gateway hello path
  deploy.sh
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLoggingAspect.java
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

display of order in DisplayOrder.js done TODO: CSS
  src/frontend/webappService/src/components/DisplayOrder.js
  src/frontend/webappService/src/components/DisplayOrders.js
  src/frontend/webappService/src/pages/Order.js
Owners: @PROCOM-ERP/frontend-owner

Add: Message sent log in Directory Service
  src/backend/directoryService/src/main/java/com/example/directoryservice/annotation/LogMessageSent.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLoggingAspect.java
  src/backend/directoryService/src/main/resources/logback-spring.xml
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner

Add: Message sent log in Order Service
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/annotation/LogMessageSent.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLoggingAspect.java
  src/backend/orderService/src/main/resources/logback-spring.xml
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner

Add: Message sent log in Order Service
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLoggingAspect.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLoggingAspect.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLoggingAspect.java
Owners: @PROCOM-ERP/backend-owner

Fix: servlet lazy initialization set to eager (false)
  src/backend/authenticationService/src/main/resources/application.yml
  src/backend/directoryService/src/main/resources/application.yml
  src/backend/orderService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

Add: aspect to log for message reception
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogMessageReceived.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLogger.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLoggingAspect.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/annotation/LogMessageReceived.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLoggingAspect.java
  src/backend/orderService/src/main/java/com/example/orderservice/annotation/LogMessageReceived.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLoggingAspect.java
Owners: @PROCOM-ERP/backend-owner

Add: log for reception messages
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLogger.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLoggingAspect.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageReceiverService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLoggingAspect.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageReceiverService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLoggingAspect.java
Owners: @PROCOM-ERP/backend-owner

Add: custom headers added to message senders
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageSenderService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

Fix: custom headers for roles.init message method in directory and order services
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

Fix: logback-spring.xml pattern name for AMQP
  src/backend/authenticationService/src/main/resources/logback-spring.xml
  src/backend/directoryService/src/main/resources/logback-spring.xml
  src/backend/inventoryService/src/main/resources/logback-spring.xml
  src/backend/orderService/src/main/resources/logback-spring.xml
Owners: @PROCOM-ERP/system-owner

fix(Logs): exported dashboard
  docker/elk/export.ndjson
  docker/elk/logstash/pipeline/logstash.conf
Owners: @PROCOM-ERP/global-owner

fi
  docker/elk/logstash/pipeline/logstash.conf
Owners: @PROCOM-ERP/global-owner

fix logstash
  docker/elk/logstash/pipeline/logstash.conf
Owners: @PROCOM-ERP/global-owner

fix(Logs): exported dashboard
  docker/elk/export.ndjson
  docker/elk/logstash/pipeline/logstash.conf
Owners: @PROCOM-ERP/global-owner

Fixed Deploy
  deploy.ps1
  deploy.sh
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner

fix: retry on Dashboard import
  deploy.ps1
  deploy.sh
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner

add admin directory in /pages move all admin pages in /pages/admin
  src/frontend/webappService/src/pages/admin/AddOrder.js
  src/frontend/webappService/src/pages/admin/AddRole.js
  src/frontend/webappService/src/pages/admin/AddUser.js
  src/frontend/webappService/src/pages/admin/AdminHome.js
  src/frontend/webappService/src/pages/admin/AdminPermissions.js
  src/frontend/webappService/src/pages/admin/AdminUser.js
  src/frontend/webappService/src/pages/admin/AdminUsers.js
Owners: @PROCOM-ERP/frontend-owner

change some names in app.js change some css style in app.css change authentication files move admin files - from /pages to /pages/admin/ -from /components to /components/admin
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/components/Navbar.js
  src/frontend/webappService/src/components/admin/AddUserForm.js
  src/frontend/webappService/src/components/admin/DisplayPermissions.js
  src/frontend/webappService/src/components/admin/RoleForm.js
  src/frontend/webappService/src/components/admin/UserProfilAdmin.js
  src/frontend/webappService/src/components/helloTest/AuthHelloWorld.js
  src/frontend/webappService/src/components/helloTest/DirHelloWorld.js
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/pages/AddOrder.js
  src/frontend/webappService/src/pages/Authentication.js
  src/frontend/webappService/src/pages/admin/AdminDirectory.js
Owners: @PROCOM-ERP/frontend-owner

add comments to authentication.js file
  src/frontend/webappService/src/pages/Authentication.js
Owners: @PROCOM-ERP/frontend-owner

add comments to AdminHome.js
  src/frontend/webappService/src/pages/admin/AdminHome.js
Owners: @PROCOM-ERP/frontend-owner

add comments to AdminPermissions.js page
  src/frontend/webappService/src/pages/admin/AdminHome.js
  src/frontend/webappService/src/pages/admin/AdminPermissions.js
Owners: @PROCOM-ERP/frontend-owner

add comments to adminDirectory
  src/frontend/webappService/src/pages/admin/AdminDirectory.js
Owners: @PROCOM-ERP/frontend-owner

add useEffect hook to check userId value in url when /user/{userId} page is called in AdminUser.js add comments to AdminUser.js
  src/frontend/webappService/src/pages/admin/AdminUser.js
Owners: @PROCOM-ERP/frontend-owner

change file name AdminUser to AdminUserProfil change link to admin page in app.js change admin user profil url in DirectoryTable
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/pages/admin/AdminUserProfil.js
Owners: @PROCOM-ERP/frontend-owner

add comments in AddUser.js
  src/frontend/webappService/src/pages/admin/AddUser.js
Owners: @PROCOM-ERP/frontend-owner

change file name AddUserForm to UserForm change import path in AddUser.js
  src/frontend/webappService/src/components/admin/UserForm.js
  src/frontend/webappService/src/pages/admin/AddRole.js
  src/frontend/webappService/src/pages/admin/AddUser.js
Owners: @PROCOM-ERP/frontend-owner

change import path in AddRole.js
  src/frontend/webappService/src/pages/admin/AddRole.js
Owners: @PROCOM-ERP/frontend-owner

change import path in files add comments
  src/frontend/webappService/src/components/Navbar.js
  src/frontend/webappService/src/components/admin/DisplayPermissions.js
  src/frontend/webappService/src/components/admin/RoleForm.js
  src/frontend/webappService/src/pages/admin/AdminPermissions.js
  src/frontend/webappService/src/pages/admin/AdminUserProfil.js
Owners: @PROCOM-ERP/frontend-owner

E05-US06 : Add test files
  docs/tests/ERP_TEST.postman_environment.json
  docs/tests/Test environnement.postman_collection.json
  docs/tests/authenticationService/Auth service test.postman_collection.json
  docs/tests/directoryService/Dir service test.postman_collection.json
  docs/tests/inventoryService/Inv Service test.postman_collection.json
Owners: @PROCOM-ERP/global-owner
