Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

Add: Order Service DB Dockerfile
  src/databases/orderService/Dockerfile
Owners: @PROCOM-ERP/system-owner

Add: Order Service DB docker-compose.yml
  docker-compose.yml
Owners: @PROCOM-ERP/system-owner

Add: Order Service DB .env + pom.xml parent module
  .env
  pom.xml
Owners: @PROCOM-ERP/system-owner

Add: Order Service Backend .env
  .env
Owners: @PROCOM-ERP/system-owner

Add: Order Service Backend docker-compose.yml
  docker-compose.yml
Owners: @PROCOM-ERP/system-owner

Add: Order Service Backend minimum Spring structure
  src/backend/orderService/Dockerfile
  src/backend/orderService/pom.xml
  src/backend/orderService/prod-pom.xml
  src/backend/orderService/src/main/java/com/example/orderservice/OrderServiceApplication.java
  src/backend/orderService/src/main/resources/application.yml
  src/backend/orderService/src/test/java/com/example/orderservice/OrderServiceApplicationTests.java
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/product-owner

Add: OrderService Spring config folder
  src/backend/orderService/src/main/java/com/example/orderservice/config/RabbitMQConfig.java
  src/backend/orderService/src/main/java/com/example/orderservice/config/RestConfig.java
  src/backend/orderService/src/main/java/com/example/orderservice/config/SecurityConfig.java
Owners: @PROCOM-ERP/backend-owner

Add: OrderService Spring utils folder
  src/backend/orderService/src/main/java/com/example/orderservice/utils/ControllerExceptionHandler.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomHttpRequestBuilder.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/PerformanceTracker.java
Owners: @PROCOM-ERP/backend-owner

Add: OrderService Spring model, dto, repository, service folders
  src/backend/orderService/src/main/java/com/example/orderservice/dto/LoginProfileActivationResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/PermissionDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/RoleActivationResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/RoleResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/RoleUpdateRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Endpoint.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/LoginProfile.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Path.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Permission.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Role.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/LoginProfileRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/RoleRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EndpointService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/JwtService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/LoginProfileService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageReceiverService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/PermissionService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Add: OrderService Spring controller folder + RabbitMQ queue names changed
  src/backend/orderService/src/main/java/com/example/orderservice/config/RabbitMQConfig.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/HelloController.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/RoleController.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageReceiverService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

Add: OrderService configuration added to the gateway + fix on prod-prom.xml
  docker-compose.yml
  src/backend/directoryService/prod-pom.xml
  src/backend/gatewayService/src/main/resources/application.yml
  src/backend/inventoryService/prod-pom.xml
  src/backend/orderService/prod-pom.xml
Owners: @PROCOM-ERP/system-owner

Add: OrderService Spring Provider.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Provider.java
Owners: @PROCOM-ERP/backend-owner

Add: E03-US01-T02 feature
  src/backend/orderService/src/main/java/com/example/orderservice/OrderServiceApplication.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/ProviderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Endpoint.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Path.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Permission.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/ProviderRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/ProviderService.java
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Add: Order, Employee, OrderProduct, ProgressStatus, Address models
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderByApproverResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderByOrdererResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrdersByIdLoginProfileResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Address.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Employee.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Order.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/OrderProduct.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/ProgressStatus.java
Owners: @PROCOM-ERP/backend-owner

Add: OrderRepository with queries for conditional retrieving operations
  src/backend/orderService/src/main/java/com/example/orderservice/repository/OrderRepository.java
Owners: @PROCOM-ERP/backend-owner

Add: OrderService and EmployeeRepository added
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderByApproverResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderByOrdererResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Order.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/EmployeeRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
Owners: @PROCOM-ERP/backend-owner

Add: OrderController and permissions
  src/backend/orderService/src/main/java/com/example/orderservice/OrderServiceApplication.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/ProviderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Endpoint.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Path.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Permission.java
Owners: @PROCOM-ERP/backend-owner

Add: E03-US02-T04 and E03-US02-T05
  docs/api/doc-api-order-service.json
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Dev : X Adding the checkValue() on API: from gruyère to -100dB security
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/MoveItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/QuantityUpdateRequestDto.java
Owners: @PROCOM-ERP/backend-owner

Fix : X Adding the checkValue() on API: from gruyère to -100dB security
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/NewItemRequestDto.java
Owners: @PROCOM-ERP/backend-owner

Fix : X Adding the checkValue() on API: from gruyère to -100dB security
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductMetaService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/TransactionService.java
Owners: @PROCOM-ERP/backend-owner

Dev : X Adding the checkValue() on API: from gruyère to -100dB security
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

change classname in div (UserProfil.js) change css in UserProfil.css
  src/frontend/webappService/src/components/UserProfilAdmin.js
  src/frontend/webappService/src/css/UserProfil.css
Owners: @PROCOM-ERP/frontend-owner

Fix: OrderService DB Dockerfile + README version
  README.md
  src/databases/orderService/Dockerfile
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/system-owner

change classname for title in OrderManagement.js
  src/frontend/webappService/src/pages/OrderManagement.js
Owners: @PROCOM-ERP/frontend-owner

add DisplayOrders.js file copy DirectoryTable.js in DisplayOrders.js
  src/frontend/webappService/src/components/DisplayOrders.js
Owners: @PROCOM-ERP/frontend-owner

add Displayorders component in OrderManagement page
  src/frontend/webappService/src/pages/OrderManagement.js
Owners: @PROCOM-ERP/frontend-owner

fix: Roles aren't shown and fetched, default select for OrgUnit
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/ProfilForm.css
  src/frontend/webappService/src/pages/ModifyProfil.js
Owners: @PROCOM-ERP/frontend-owner

add table with user in OrderManagement page (ordersByOrderer data displayed)
  src/frontend/webappService/src/components/DisplayOrders.js
Owners: @PROCOM-ERP/frontend-owner

add addOrder button in DisplayOrders.js
  src/frontend/webappService/src/components/DisplayOrders.js
Owners: @PROCOM-ERP/frontend-owner

Fix : slight modification on dto
  docs/classes/inventory-class-diagram.svg
  docs/diagrams/Product_interface_v1.drawio
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ProductDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

feat: UpdatePassword page and functionality added
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/components/PasswordForm.js
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/components/UpdatePassword.js
  src/frontend/webappService/src/pages/ModifyPassword.js
Owners: @PROCOM-ERP/frontend-owner

Upd : developing draw.io documentation
  docs/classes/inventory-class-diagram.svg
Owners: @PROCOM-ERP/global-owner

Fix: exceptions
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
Owners: @PROCOM-ERP/backend-owner

Fix: fix warnings before push
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
Owners: @PROCOM-ERP/backend-owner

Fix: fix warnings before push
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
Owners: @PROCOM-ERP/backend-owner

Fix: fix warnings before push
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ItemDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductMetaRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Category.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/ProductMeta.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/CategoryRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/ItemRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/ProductMetaRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/ProductRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/TransactionRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

Fix: AuthenticationService Spring LoginProfile password update
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfilePasswordUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Permission.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix: PasswordForm.js component with new request body format
  src/frontend/webappService/src/components/PasswordForm.js
Owners: @PROCOM-ERP/frontend-owner

Fix: AuthenticationService doc
  docs/api/doc-api-authentication-service.json
  src/frontend/webappService/src/components/ProfilForm.js
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner
