Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner

Add query to RoleActivationRepository
  docs/api/doc-api-authentication-service.json
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/LoginProfileRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleActivationRepository.java
  src/backend/directoryService/src/main/resources/application.yml
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner

Add RolesMicroservicesResponseDto
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RolesMicroservicesResponseDto.java
Owners: @PROCOM-ERP/backend-owner

Add query in RoleRepository
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleRepository.java
Owners: @PROCOM-ERP/backend-owner

Add getAllRolesAndMicroservices to RoleService
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleActivationRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Add getAllRolesAndMicroservices endpoint to RoleController
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Path.java
Owners: @PROCOM-ERP/backend-owner

Secure api/v1/roles/microservices endpoint
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Endpoint.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Path.java
Owners: @PROCOM-ERP/backend-owner

Add microservices alias to .env
  .env
Owners: @PROCOM-ERP/system-owner

Temporary ignore RestClientException in RabbitMQReceiver
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RabbitMQReceiver.java
Owners: @PROCOM-ERP/backend-owner

Update /roles/:role endpoint
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/PermissionController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/PermissionDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/PermissionService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomJwtAuthenticationConverter.java
Owners: @PROCOM-ERP/backend-owner

Update /roles/:role endpoint
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Update POST: /roles endpoint
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/PermissionDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RolesMicroservicesResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Update POST: /roles endpoint
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Update GET: /roles/:role/microservices:microservice endpoint
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleEnableResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Endpoint.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Path.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleActivationRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/resources/application.yml
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner

Update GET: /roles/:role/microservices:microservice endpoint
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleEnableResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleActivationRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleRepository.java
Owners: @PROCOM-ERP/backend-owner

Add PUT: /roles/:role endpoint
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleActivationResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Endpoint.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Permission.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/PermissionService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/PerformanceTracker.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RabbitMQReceiver.java
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Update PUT: /roles/:role endpoint
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Delete RoleActivationRequestDto.java in authenticationService module
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleActivationRequestDto.java
Owners: @PROCOM-ERP/backend-owner

Delete unused statements
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Change logger location for RoleService in authentication module
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Commit on services and controllers. Putting EAGER type
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/AddressController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Category.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/ProductMeta.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Transaction.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/databases/inventoryService/init.bak.sql
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

system: deploy script adapted for dev/prod separation
  .env
  docker-compose-swarm.yml
  docker-compose.yml
  src/system/deploy.ps1
  src/system/deploy.sh
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/global-owner

system: QODev deploy in root
  deploy.ps1
  deploy.sh
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner

Update RoleService in directory module
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Path.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/RoleController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/PermissionDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/RoleActivationResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/RoleRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/RoleUpdateRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Endpoint.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Path.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Permission.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Role.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/repository/RoleRepository.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/PermissionService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/PerformanceTracker.java
Owners: @PROCOM-ERP/backend-owner

Update RoleService in directory module
  src/databases/directoryService/init.sql
Owners: @PROCOM-ERP/databases-owner

system: security setup is now in deploy on --sec
  deploy.ps1
  deploy.sh
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner

fix: space in if statement
  deploy.sh
Owners: @PROCOM-ERP/system-owner

fix: compose variable in deploy
  deploy.sh
Owners: @PROCOM-ERP/system-owner

Fix RoleService in directory module
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/PermissionController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Role.java
  src/databases/directoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fixing join-columns that making le link working.
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
Owners: @PROCOM-ERP/backend-owner

system: restart policy added for swarm
  docker-compose-swarm.yml
Owners: @PROCOM-ERP/system-owner

Update RabbitMQConfig files for Roles features
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/RabbitMQConfig.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/config/RabbitMQConfig.java
Owners: @PROCOM-ERP/backend-owner

MessageReceiverService methods created
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

MessageReceiverService methods created
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

MessageReceiverService methods added
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
Owners: @PROCOM-ERP/backend-owner

fix: entrypoint placeholder
  src/backend/directoryService/Dockerfile
Owners: @PROCOM-ERP/system-owner

MessageSenderService rolesFanoutExchange methods added
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageSenderService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RabbitMQReceiver.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RabbitMQSender.java
Owners: @PROCOM-ERP/backend-owner

system: clean up for db container builder
  src/databases/authenticationService/Dockerfile
  src/databases/directoryService/Dockerfile
  src/system/db_entrypoint.sh
Owners: @PROCOM-ERP/system-owner

feat: Docker compose or Docker stack deploy possibility
  deploy.sh
  docker-compose-swarm.yml
  docker-compose.yml
Owners: @PROCOM-ERP/system-owner

MessageReceiverService added to directory module
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageReceiverService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomHttpRequestBuilder.java
Owners: @PROCOM-ERP/backend-owner

system: gateway routes variables
  .env
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner
