Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner

Fix: RoleService.java in authentication service checkStringPattern calls
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

Updated: Request Validation in authentication service
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/EmployeeEmailResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfilePasswordUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomStringUtils.java
Owners: @PROCOM-ERP/backend-owner

Updated: Request Validation in directory service
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/AddressController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/EmployeeController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/RoleController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/EmployeeCreationRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/EmployeeUpdateRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/RoleUpdateRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomStringUtils.java
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Updated: Request Validation in directory service
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/AddressCreationRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomStringUtils.java
Owners: @PROCOM-ERP/backend-owner

Create deploy.yml
  .github/workflows/deploy.yml
Owners: @PROCOM-ERP/system-owner

feat
  .github/workflows/deploy.yml
Owners: @PROCOM-ERP/system-owner

Updated: RoleController requests validation order and inventory services
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/RoleController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/RoleUpdateRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/RoleController.java
Owners: @PROCOM-ERP/backend-owner

Updated: RoleController requests validation order and inventory services
  src/backend/orderService/src/main/java/com/example/orderservice/dto/RoleUpdateRequestDto.java
Owners: @PROCOM-ERP/backend-owner

Updated: requests validation in order service
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/AddressCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/AddressCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/EmployeeCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderProductCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderUpdateProgressStatusDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/OrderRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomStringUtils.java
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Updated: requests sanitization in RoleService.java ans AddressService.java for order service
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/RoleService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/AddressService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/RoleService.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomStringUtils.java
Owners: @PROCOM-ERP/backend-owner

Updated: requests sanitization in EmployeeService.java for order service
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
Owners: @PROCOM-ERP/backend-owner

Updated: requests sanitization in OrderService.java for order service (microservice)
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
Owners: @PROCOM-ERP/backend-owner

Fix: RabbitMQ queue names
  src/backend/directoryService/src/main/java/com/example/directoryservice/config/RabbitMQConfig.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageReceiverService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/config/RabbitMQConfig.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/MessageReceiverService.java
Owners: @PROCOM-ERP/backend-owner

Fix: App.js error page imports
  src/frontend/webappService/src/App.js
Owners: @PROCOM-ERP/frontend-owner

Fix: .gitattributes and mvnw LF
  .gitattributes
Owners: @PROCOM-ERP/global-owner

Fix: ProgressStatusService getProgressStatusById
  src/backend/orderService/src/main/java/com/example/orderservice/service/ProgressStatusService.java
Owners: @PROCOM-ERP/backend-owner

Fix: Last and First name in directory init.sql
  src/databases/directoryService/init.sql
Owners: @PROCOM-ERP/databases-owner

changes in OrderProgress -> delete status value (useless)
  src/frontend/webappService/src/components/OrderProgess.js
Owners: @PROCOM-ERP/frontend-owner

comment inventory tab in navbar (inventory not displayed)
  src/frontend/webappService/src/components/Navbar.js
Owners: @PROCOM-ERP/frontend-owner

Fix: OrderService progress status update for an order
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderUpdateProgressStatusDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
Owners: @PROCOM-ERP/backend-owner

Fix: Logs available for Jwt management
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/CustomUserDetailsService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLogger.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLogger.java
Owners: @PROCOM-ERP/backend-owner

add ErrorForm.js for handling 400 and 422
  src/frontend/webappService/src/pages/errors/ErrorForm.js
Owners: @PROCOM-ERP/frontend-owner

Fix: Log for User Jwt available permissions
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomJwtAuthenticationConverter.java
Owners: @PROCOM-ERP/backend-owner

set ErrorForm.js (manage popup)
  src/frontend/webappService/src/pages/errors/ErrorForm.js
Owners: @PROCOM-ERP/frontend-owner

change error401 in AuthForm (-> no navigate to Error401 page because error message displayed instead)
  src/frontend/webappService/src/components/AuthForm.js
Owners: @PROCOM-ERP/frontend-owner

add error 400 422 added in ProfilForm
  src/frontend/webappService/src/components/ProfilForm.js
Owners: @PROCOM-ERP/frontend-owner

fix(css): user color
  src/frontend/webappService/src/components/DisplayOrder.js
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/UserProfil.css
Owners: @PROCOM-ERP/frontend-owner

add line for handling error 400 and 422 for all fetch in ProfilForm
  src/frontend/webappService/src/components/ProfilForm.js
Owners: @PROCOM-ERP/frontend-owner

add import useState in ErrorForm
  src/frontend/webappService/src/pages/errors/ErrorForm.js
Owners: @PROCOM-ERP/frontend-owner

sec-inv-branch Fix : API hotfixes
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Path.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

Fix: Log for Forbidden response when credentials are missing
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/SecurityConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/CustomUserDetailsService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomAccessDeniedHandler.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLogger.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/config/SecurityConfig.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomAccessDeniedHandler.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/config/SecurityConfig.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomAccessDeniedHandler.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLogger.java
Owners: @PROCOM-ERP/backend-owner

Fix: Log for Forbidden response when credentials are missing
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomJwtAuthenticationConverter.java
Owners: @PROCOM-ERP/backend-owner

sec-inv-branch Fix : API hotfixes
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
Owners: @PROCOM-ERP/backend-owner

sec-inv-branch Fix : API hotfixes
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
Owners: @PROCOM-ERP/backend-owner

Fix: Order Creation request validation
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderCreationRequestDto.java
Owners: @PROCOM-ERP/backend-owner

Added: Log for user password update
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
Owners: @PROCOM-ERP/backend-owner

add display error 400 and 422 in ProfilForm
  src/frontend/webappService/src/components/ProfilForm.js
Owners: @PROCOM-ERP/frontend-owner

sec-inv-branch Fix : difficulties to fix the 500e when wrong entry type
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

Fix: password update
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomPasswordUtils.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomStringUtils.java
Owners: @PROCOM-ERP/backend-owner

Fix: password update error message
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfilePasswordUpdateRequestDto.java
Owners: @PROCOM-ERP/backend-owner
