Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner

system: refactor repo architecture
  docker/.env
  docker/docker-compose-swarm.yml
  docker/docker-compose.yml
  security/clean_security.ps1
  security/clean_security.sh
  security/security_setup.ps1
  security/security_setup.sh
  system/.mvn/wrapper/maven-wrapper.jar
  system/.mvn/wrapper/maven-wrapper.properties
  system/db_entrypoint.sh
  system/entrypoint.sh
  system/mvnw
  system/wait-for-it.sh
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/global-owner

feat: undeploy script
  undeploy.ps1
  undeploy.sh
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner

fix(deploy): aapt to new infra
  deploy.ps1
  deploy.sh
  security/clean_security.sh
  security/security_setup.sh
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner

docs: new documentation on architecture + scripts
  README.md
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

fix(undeploy): docker compose command
  undeploy.sh
Owners: @PROCOM-ERP/system-owner

fix(deploy): doc
  deploy.sh
Owners: @PROCOM-ERP/system-owner

fix(docker-compose): container-name added
  docker/docker-compose.yml
Owners: @PROCOM-ERP/system-owner

refactor(Exp Backoff): Message utils created
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/MessageUtils.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/MessageUtils.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/MessageUtils.java
Owners: @PROCOM-ERP/backend-owner

fix: undeploy in dev
  undeploy.sh
Owners: @PROCOM-ERP/system-owner

feat(RMQ): Publisher now can get a return
  src/backend/directoryService/src/main/resources/application.yml
  src/backend/orderService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

Fix/Test : E4-US07-T0[2/4/5] Fixing warnings and @Pattern
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
Owners: @PROCOM-ERP/backend-owner

feat(RabbitMQ): Services behaviour corrected at startup
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageSenderService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

fix: order RMQ sender for roles init
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

stupidButFun: added little sound when undeploying
  undeploy.sh
Owners: @PROCOM-ERP/system-owner

fix: commented Demonstration
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
Owners: @PROCOM-ERP/backend-owner

style(security scripts): updated
  security/clean_security.sh
  security/security_setup.ps1
  security/security_setup.sh
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/global-owner

docs: documentation updated, template for ungitted scripts
  docs/DEPLOYING.md
  docs/security/README.md
  docs/security/templates/docker_secrets.ps1
  docs/security/templates/docker_secrets.sh
  docs/security/templates/docker_secrets_files.ps1
  docs/security/templates/docker_secrets_files.sh
  docs/security/templates/generate_certificate_passwords.ps1
  docs/security/templates/generate_certificate_passwords.sh
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner

fix: CA
  security/clean_security.sh
Owners: @PROCOM-ERP/system-owner

fix: CA creation
  security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

fix: double line for no reason
  src/backend/gatewayService/Dockerfile
Owners: @PROCOM-ERP/system-owner

feat(deploy.sh): clean security now added
  deploy.sh
Owners: @PROCOM-ERP/system-owner

stupidButFun(deploy): added a sound when finished deploying
  deploy.sh
Owners: @PROCOM-ERP/system-owner

feat(swarm): order service added
  docker/docker-compose-swarm.yml
Owners: @PROCOM-ERP/system-owner

add title modif css DirectoryTable.css used (to be changed) add 2nd table (orders to approve)
  src/frontend/webappService/src/components/DisplayOrders.js
  src/frontend/webappService/src/css/DirectoryTable.css
Owners: @PROCOM-ERP/frontend-owner

add AddOrder.js page add route for AddOrder page in App.js
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/pages/AddOrder.js
Owners: @PROCOM-ERP/frontend-owner

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @PROCOM-ERP/doc-owner

Create SECURITY.md
  SECURITY.md
Owners: @PROCOM-ERP/doc-owner

fix(docker.ps1): docker path on config verification
  deploy.ps1
Owners: @PROCOM-ERP/global-owner

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @PROCOM-ERP/doc-owner

fix: @Autowired is the same as Lombok
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/RabbitMQConfig.java
Owners: @PROCOM-ERP/backend-owner

add AddOrder.js page add code strcuture
  src/frontend/webappService/src/pages/AddOrder.js
Owners: @PROCOM-ERP/frontend-owner

Fix: Dependency Injection in RabbitMQConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/RabbitMQConfig.java
Owners: @PROCOM-ERP/backend-owner

add ./component/ OrderForm.js add navbar to AddOrder.js page
  src/frontend/webappService/src/components/OrderForm.js
  src/frontend/webappService/src/pages/AddOrder.js
Owners: @PROCOM-ERP/frontend-owner

add some css (OrderForm.css) add import needed to OrderForm form done (todo: css) TODO: submit
  src/frontend/webappService/src/components/OrderForm.js
  src/frontend/webappService/src/css/OrderForm.css
  src/frontend/webappService/src/pages/AddOrder.js
Owners: @PROCOM-ERP/frontend-owner

change in handle submit data from add order (js) ISSUE: Error 500 when post TODO: - post, - default values for orderer and address, - css - redirection
  src/frontend/webappService/src/components/OrderForm.js
Owners: @PROCOM-ERP/frontend-owner

Add: CustomStringUtils.java to sanitize String
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomStringUtils.java
Owners: @PROCOM-ERP/backend-owner

Add: CustomStringUtils.java to sanitize String
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomStringUtils.java
Owners: @PROCOM-ERP/backend-owner

Add: REGEX constraint for SQL scripts
  src/databases/authenticationService/init.sql
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

Add: REGEX constraint for SQL scripts
  src/databases/authenticationService/init.sql
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

Add: JSR 380 constraints on half DTO class for Authentication service
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/EmployeeEmailResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileActivationResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileIdResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfilePasswordUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/PermissionDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomRegexPattern.java
Owners: @PROCOM-ERP/backend-owner
