Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

Fix: Directory update Employee email notification
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/AuthServiceApplication.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/RabbitMQConfig.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/DirectoryServiceApplication.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/config/RabbitMQConfig.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/EmployeeController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/EmployeeEmailResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Endpoint.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Path.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

Fix: Authentication update Employee email notification
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/EmployeeEmailResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
Owners: @PROCOM-ERP/backend-owner

Fix: API docs
  docs/api/doc-api-authentication-service.json
  docs/api/doc-api-directory-service.json
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomHttpRequestBuilder.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomHttpRequestBuilder.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

Fix: API docs
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
Owners: @PROCOM-ERP/backend-owner

fix: security and environement variables for mailing
  .env
  docker-compose-swarm.yml
  docker-compose.yml
  src/backend/authenticationService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

fix: mailing dependency for auth service
  src/backend/authenticationService/prod-pom.xml
Owners: @PROCOM-ERP/system-owner

Fix : E04-US05-T01 Changes according to the Thibaut review on models
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Category.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/ProductMeta.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Transaction.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

Fix : E04-US05-T01 Model error
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

Fix : E04-US05-T01. Handling throws errors
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/utils/ControllerExceptionHandler.java
Owners: @PROCOM-ERP/backend-owner

Create test.md
  test.md
Owners: @PROCOM-ERP/doc-owner

Fix : E04-US05-T01. Final changes before pull request
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/AddressController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
Owners: @PROCOM-ERP/backend-owner

Fix : E04-US05-T01. changes on error code.
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/ProductMeta.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

Cleaning files
  docs/classes/.$StockDatabaseDiagram.svg.bkp
  docs/classes/.$StockDatabaseDiagram_v2.svg.bkp
  docs/classes/.$StockUseCaseDiagram.svg.bkp
  docs/classes/StockDatabaseDiagram.svg
  docs/classes/StockDatabaseDiagram_v2.svg
  docs/classes/StockUseCaseDiagram.svg
  src/backend/inventoryService/entrypoint.sh
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner

Fix : Cleaning files changing path names adding @OpenAPIDefinition
  src/backend/inventoryService/.mvn/wrapper/maven-wrapper.jar
  src/backend/inventoryService/.mvn/wrapper/maven-wrapper.properties
  src/backend/inventoryService/mvnw
  src/backend/inventoryService/mvnw.cmd
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/InventoryServiceApplication.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/AddressController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner

fix: inventory service integration with new infrastructure
  .env
  docker-compose-swarm.yml
  docker-compose.yml
  src/backend/inventoryService/Dockerfile
  src/backend/inventoryService/prod-pom.xml
  src/databases/inventoryService/Dockerfile
  src/databases/inventoryService/postgresql.conf
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/databases-owner

docs: formatted docker config
  docker-compose-swarm.yml
  docker-compose.yml
Owners: @PROCOM-ERP/system-owner

docs: Formatted system files, reduced useless env variables
  .env
  docker-compose-swarm.yml
  docker-compose.yml
  src/backend/authenticationService/Dockerfile
  src/backend/authenticationService/prod-pom.xml
  src/backend/directoryService/Dockerfile
  src/backend/directoryService/prod-pom.xml
  src/backend/gatewayService/Dockerfile
  src/backend/gatewayService/prod-pom.xml
  src/backend/inventoryService/Dockerfile
  src/backend/inventoryService/prod-pom.xml
Owners: @PROCOM-ERP/system-owner

docs: Expose before runtime
  src/databases/authenticationService/Dockerfile
  src/databases/directoryService/Dockerfile
  src/databases/inventoryService/Dockerfile
Owners: @PROCOM-ERP/system-owner

docs: readability and no need for postgresl conf file
  docker-compose.yml
  src/backend/message-brokerService/Dockerfile
  src/databases/authenticationService/Dockerfile
  src/databases/authenticationService/postgresql.conf
  src/databases/directoryService/Dockerfile
  src/databases/directoryService/postgresql.conf
  src/databases/inventoryService/Dockerfile
  src/databases/inventoryService/postgresql.conf
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/databases-owner

docs: adapted swarm to last commit
  docker-compose-swarm.yml
Owners: @PROCOM-ERP/system-owner

Dev : E04-US02-T01
  docs/classes/.$inventory-class-diagram.svg.bkp
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/InventoryServiceApplication.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/CategoryRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/CategoryRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

docs: Updated README
  LICENSE.md
  README.md
Owners: @PROCOM-ERP/doc-owner

docs: added links to validate both certificates to insure good deploy
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: refactored pom.xml for development, readability upgraded
  pom.xml
  src/backend/authenticationService/pom.xml
  src/backend/directoryService/pom.xml
  src/backend/gatewayService/pom.xml
  src/backend/inventoryService/pom.xml
Owners: @PROCOM-ERP/system-owner

fix: license formatted
  LICENSE.md
Owners: @PROCOM-ERP/doc-owner

FIx : E04-US02-T01 changing API description
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/AddressController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
Owners: @PROCOM-ERP/backend-owner

Dev : E04-US07-T02/T04 Creating Controller functions and RequestDto
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/NewQuantityRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/QuantityUpdateRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

add colunms in directoryTable (change api) change filter
  src/frontend/webappService/src/components/DirectoryTable.js
Owners: @PROCOM-ERP/frontend-owner

add api (fetch roles, services, permissions) display permissions
  src/frontend/webappService/src/components/DisplayPermissions.js
Owners: @PROCOM-ERP/frontend-owner

DisplayPermissions: add if isEnabled==false for role checkbox is disabled
  src/frontend/webappService/src/components/DisplayPermissions.js
Owners: @PROCOM-ERP/frontend-owner

manage permissions changes (not working) add fetch(PUT) to update permissions
  src/frontend/webappService/src/components/DisplayPermissions.js
Owners: @PROCOM-ERP/frontend-owner

add log in DisplayPermissions issue : deconnexion after permissions update
  src/frontend/webappService/src/components/DisplayPermissions.js
Owners: @PROCOM-ERP/frontend-owner

add Popup.js and Popup.css : popup message for deconnexion add popup in displayPermissions
  src/frontend/webappService/src/components/DisplayPermissions.js
  src/frontend/webappService/src/components/Popup.js
  src/frontend/webappService/src/css/Popup.css
Owners: @PROCOM-ERP/frontend-owner

add AddRole.js : page to add a role add button in DisplayPermissions to navigate to AddRole page add Route in App.js for new page AddRole.js
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/components/DisplayPermissions.js
  src/frontend/webappService/src/pages/AddRole.js
Owners: @PROCOM-ERP/frontend-owner

add RoleForm.js (component)
  src/frontend/webappService/src/components/RoleForm.js
Owners: @PROCOM-ERP/frontend-owner

add form in RoleForm add fetch(..) in RoleForm Issue : can't test for now (system issue)
  src/frontend/webappService/src/components/DisplayPermissions.js
  src/frontend/webappService/src/components/RoleForm.js
  src/frontend/webappService/src/pages/AddRole.js
Owners: @PROCOM-ERP/frontend-owner

add import in files for AddRole page add RoleForm.css add some bg AddRole finished TODO: CSS / test if working
  src/frontend/webappService/src/components/RoleForm.js
  src/frontend/webappService/src/css/RoleForm.css
  src/frontend/webappService/src/pages/AddRole.js
Owners: @PROCOM-ERP/frontend-owner

Dev : E04-US07-T02/T04
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

fix: maven dependencies versions controlled in env level
  .env
  docker-compose-swarm.yml
  docker-compose.yml
  src/backend/authenticationService/Dockerfile
  src/backend/authenticationService/prod-pom.xml
  src/backend/directoryService/Dockerfile
  src/backend/directoryService/prod-pom.xml
  src/backend/gatewayService/Dockerfile
  src/backend/gatewayService/prod-pom.xml
  src/backend/gatewayService/src/main/resources/application.yml
  src/backend/inventoryService/Dockerfile
  src/backend/inventoryService/prod-pom.xml
  src/frontend/webappService/src/components/DirectoryTable.js
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/frontend-owner

Add: Order Service DB table creation script
  src/databases/orderService/init.sql
  src/databases/orderService/reset.sql
Owners: @PROCOM-ERP/databases-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner
