Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner

system: Container for Inventory service created
  .env
  docker-compose.yml
Owners: @PROCOM-ERP/system-owner

system: Container added for Frontend
  .env
  docker-compose.yml
Owners: @PROCOM-ERP/system-owner

security: cleaned security scripts and added front
  src/security/clean_security.sh
  src/security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

security: cleaned security scripts and added front
  src/security/clean_security.sh
  src/security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

test push aina
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/public/index.html
  src/frontend/public/manifest.json
  src/frontend/src/App.css
  src/frontend/src/App.js
  src/frontend/src/components/Form.js
  src/frontend/src/index.js
  src/frontend/src/pages/Authentification.js
  src/frontend/src/pages/Home.js
Owners: @PROCOM-ERP/frontend-owner

navbar v1
  src/frontend/src/App.js
  src/frontend/src/components/Navbar.js
  src/frontend/src/css/App.css
  src/frontend/src/css/Navbar.css
  src/frontend/src/pages/Home.js
Owners: @PROCOM-ERP/frontend-owner

add page profil add navbar
  src/frontend/src/App.js
  src/frontend/src/components/Navbar.js
  src/frontend/src/pages/Home.js
  src/frontend/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner

add onglet in navbar
  src/frontend/src/components/Navbar.js
Owners: @PROCOM-ERP/frontend-owner

add directory, inventory, order management pages
  src/frontend/src/App.js
  src/frontend/src/pages/Directory.js
  src/frontend/src/pages/Inventory.js
  src/frontend/src/pages/OrderManagement.js
Owners: @PROCOM-ERP/frontend-owner

add webappService directory
  src/frontend/webappService/package-lock.json
  src/frontend/webappService/package.json
  src/frontend/webappService/public/index.html
  src/frontend/webappService/public/manifest.json
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/components/Form.js
  src/frontend/webappService/src/components/Navbar.js
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/css/Navbar.css
  src/frontend/webappService/src/index.js
  src/frontend/webappService/src/pages/Authentification.js
  src/frontend/webappService/src/pages/Directory.js
  src/frontend/webappService/src/pages/Home.js
  src/frontend/webappService/src/pages/Inventory.js
  src/frontend/webappService/src/pages/OrderManagement.js
  src/frontend/webappService/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner

fix: Webapp Service PATH
  .env
Owners: @PROCOM-ERP/system-owner

fix: Security setup PEM creation
  src/security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

Hotfix RabbitMQ Hello queue + Exception Handler : removed
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RabbitMQReceiver.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/ControllerExceptionHandler.java
Owners: @PROCOM-ERP/backend-owner

system: Container for Frontend and Dockerfile added
  .env
  docker-compose.yml
  src/frontend/webappService/Dockerfile
  src/frontend/webappService/package-lock.json
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/frontend-owner

fix: Env file not needed
  docker-compose.yml
  src/frontend/webappService/Dockerfile
Owners: @PROCOM-ERP/system-owner

security: HTTPS enabled
  src/frontend/webappService/Dockerfile
  src/security/clean_security.sh
  src/security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

add AuthHelloWorld page
  src/frontend/webappService/src/components/AuthHelloWorld.js
  src/frontend/webappService/src/pages/Authentification.js
Owners: @PROCOM-ERP/frontend-owner

rename file Form.js to AuthForm.js
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/pages/Authentification.js
Owners: @PROCOM-ERP/frontend-owner

add TODOS in AuthForm
  src/frontend/webappService/src/components/AuthForm.js
Owners: @PROCOM-ERP/frontend-owner

import font in css file
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/css/Navbar.css
  src/frontend/webappService/src/pages/Home.js
Owners: @PROCOM-ERP/frontend-owner

css changed (navbar, auth form, app)
  src/frontend/webappService/src/css/AuthForm.css
  src/frontend/webappService/src/css/Navbar.css
Owners: @PROCOM-ERP/frontend-owner

authentification form
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/css/AuthForm.css
  src/frontend/webappService/src/pages/Authentification.js
Owners: @PROCOM-ERP/frontend-owner

security: openssl to change crt to pem
  src/security/clean_security.sh
  src/security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

system: CORS configuration on gateway
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

system: first basic trembling API request
  src/frontend/webappService/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner

system: added CA cert and serve only app directory
  src/frontend/webappService/Dockerfile
Owners: @PROCOM-ERP/system-owner

add button component change css auth page
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/components/Button.js
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/css/AuthForm.css
  src/frontend/webappService/src/css/Button.css
  src/frontend/webappService/src/pages/Authentification.js
Owners: @PROCOM-ERP/frontend-owner

Creation of new SQL file This will replace the old init.sql file
  src/databases/inventoryService/init2.sql
Owners: @PROCOM-ERP/databases-owner

Update pom.xml
  pom.xml
  src/backend/inventoryService/pom.xml
Owners: @PROCOM-ERP/system-owner

creation du fichier de la pgae admin
  src/frontend/webappService/src/pages/Admin.js
Owners: @PROCOM-ERP/frontend-owner

system: updated new security scripts
  src/security/clean_security.sh
  src/security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

sql advance
  src/databases/inventoryService/init2.sql
Owners: @PROCOM-ERP/databases-owner

SQL pas encore fini (foreign key)
  src/databases/inventoryService/init2.sql
Owners: @PROCOM-ERP/databases-owner

fix: protection for executing script inside the correct dir
  src/security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

docs: updated security scripts' doc
  src/security/clean_security.sh
  src/security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

SQL finished
  docker-compose.yml
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/databases/inventoryService/init.bak.sql
  src/databases/inventoryService/init.sql
  src/databases/inventoryService/init2.sql
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Modification of application.properties into .yaml
  docker-compose.yml
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/InventoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ItemController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/InventoryDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/InventoryListDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ItemDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ProductDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ProductListDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Attribute.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/AttributeName.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/InventoryGroup.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/AttributeNameRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/AttributeRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/InventoryGroupRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/ItemRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/InventoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/resources/application.properties
  src/backend/inventoryService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

Modifications finished of application.properties into .yaml
  src/backend/inventoryService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

SQL fix and launching DB
  docker-compose.yml
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Category.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/CategoryProduct.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/CategoryProductId.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/ProductMeta.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Transaction.java
  src/backend/inventoryService/src/main/resources/application.yml
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Adding Repo and models
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Category.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/CategoryProduct.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/CategoryProductId.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/AddressRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/CategoryRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/InventoryRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/ItemRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/ProductMetaRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/ProductRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/TransactionRepository.java
Owners: @PROCOM-ERP/backend-owner
