Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner

Add: Exception management for security purposes in all services
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/HttpStatusErrorDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/ControllerExceptionHandler.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/HttpStatusErrorDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/ControllerExceptionHandler.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomJwtAuthenticationConverter.java
Owners: @PROCOM-ERP/backend-owner

Add: Role REGEX pattern
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/EmployeeEmailResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileActivationResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileIdResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfilePasswordUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleActivationResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RolesMicroservicesResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomStringUtils.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RegexUtils.java
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Add: Permission and Microservice REGEX pattern in DB
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/databases-owner

Remove: old PerformanceTracker.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/LoginProfileService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/PerformanceTracker.java
Owners: @PROCOM-ERP/backend-owner

Remove: old PerformanceTracker.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/LoginProfileService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

docs: images test
  docs/DEPLOYING.md
  docs/images/Step1.png
  docs/images/accessing-logs-AllSetup.png
  docs/images/accessing-logs-Step1.png
  docs/images/accessing-logs-Step2.png
  docs/images/accessing-logs-Step3.png
  docs/images/accessing-logs-Step4.png
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner

docs: image test 2
  docs/DEPLOYING.md
  docs/images/Step1.png
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner

docs: front image
  docs/DEPLOYING.md
  docs/images/front-login.png
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner

docs: updated
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

docs: added image in the README
  README.md
  docs/images/order-home.png
Owners: @PROCOM-ERP/doc-owner, @PROCOM-ERP/global-owner

feat(logs): Added the Elastic Stack
  deploy.ps1
  deploy.sh
  docker/elk/.env
  docker/elk/docker-compose-swarm.yml
  docker/elk/docker-compose.yml
  docker/elk/elasticsearch/config/elasticsearch.yml
  docker/elk/extensions/filebeat/filebeat-compose-swarm.yml
  docker/elk/extensions/filebeat/filebeat-compose.yml
  docker/elk/setup/lib.sh
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner

feat(Logs): import at startup of a dashboard
  docker/elk/export.ndjson
Owners: @PROCOM-ERP/global-owner

added deviatony to contributors
  README.md
Owners: @PROCOM-ERP/doc-owner

Add: REGEX constraints in DB
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/LoginProfileService.java
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Add: Spring validation to pom.xml files
  src/backend/directoryService/pom.xml
  src/backend/directoryService/prod-pom.xml
  src/backend/orderService/pom.xml
  src/backend/orderService/prod-pom.xml
Owners: @PROCOM-ERP/system-owner

Modify: pom.xml, Dockerfile, docker-compose.yml, .env to add logstash dependency
  docker/.env
  docker/docker-compose.yml
  src/backend/authenticationService/Dockerfile
  src/backend/authenticationService/pom.xml
  src/backend/authenticationService/prod-pom.xml
  src/backend/directoryService/Dockerfile
  src/backend/directoryService/pom.xml
  src/backend/directoryService/prod-pom.xml
  src/backend/inventoryService/Dockerfile
  src/backend/inventoryService/pom.xml
  src/backend/inventoryService/prod-pom.xml
  src/backend/orderService/Dockerfile
  src/backend/orderService/pom.xml
  src/backend/orderService/prod-pom.xml
Owners: @PROCOM-ERP/system-owner

Add: logstash log pattern configuration
  src/backend/authenticationService/src/main/resources/logback-spring.xml
  src/backend/directoryService/src/main/resources/logback-spring.xml
  src/backend/inventoryService/src/main/resources/logback-spring.xml
  src/backend/orderService/src/main/resources/logback-spring.xml
Owners: @PROCOM-ERP/system-owner

add errpr redirection to DisplayPermissions (Permissions page)
  src/frontend/webappService/src/components/DisplayPermissions.js
Owners: @PROCOM-ERP/frontend-owner

Add: Log info on service methods and error on Exception handlers
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogError.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogExecutionTime.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogMessageReceived.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogMessageSent.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/JwtService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLogger.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLoggingAspect.java
Owners: @PROCOM-ERP/backend-owner

Add: Log info of user username and password
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
Owners: @PROCOM-ERP/backend-owner

Fix: Log pattern and SQL Regex
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/JwtService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLogger.java
  src/backend/authenticationService/src/main/resources/logback-spring.xml
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/ControllerExceptionHandler.java
  src/backend/directoryService/src/main/resources/logback-spring.xml
  src/backend/inventoryService/src/main/resources/logback-spring.xml
  src/backend/orderService/src/main/java/com/example/orderservice/utils/ControllerExceptionHandler.java
  src/backend/orderService/src/main/resources/logback-spring.xml
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/databases-owner

Add: Log annotations
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/annotation/LogMessageSent.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/annotation/LogError.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/annotation/LogExecutionTime.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/annotation/LogMessageReceived.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/annotation/LogMessageSent.java
  src/backend/orderService/src/main/java/com/example/orderservice/annotation/LogError.java
  src/backend/orderService/src/main/java/com/example/orderservice/annotation/LogExecutionTime.java
  src/backend/orderService/src/main/java/com/example/orderservice/annotation/LogMessageReceived.java
  src/backend/orderService/src/main/java/com/example/orderservice/annotation/LogMessageSent.java
Owners: @PROCOM-ERP/backend-owner

Add: CustomLogger.java, CustomStringUtils.java, CustomLoggingAspect.java in orderService and directoryService
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/ControllerExceptionHandler.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLoggingAspect.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomStringUtils.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/LoginProfileService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/RoleService.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/ControllerExceptionHandler.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLoggingAspect.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomStringUtils.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/PerformanceTracker.java
Owners: @PROCOM-ERP/backend-owner

Add: Log for performance measures in directoryService Java services
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/JwtService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/LoginProfileService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/OrganisationService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
Owners: @PROCOM-ERP/backend-owner

Add: Log for performance measures in orderService Java services
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/AddressService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/LoginProfileService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/ProviderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/RoleService.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLogger.java
Owners: @PROCOM-ERP/backend-owner

Add: OrderController getOrderById + OrderResponseDto
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/JwtService.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderProductResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/StatusResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/JwtService.java
Owners: @PROCOM-ERP/backend-owner

redirection to error page added in AddUserForm
  src/frontend/webappService/src/components/AddUserForm.js
Owners: @PROCOM-ERP/frontend-owner

add redirection to errors page in AuthForm
  src/frontend/webappService/src/components/AuthForm.js
Owners: @PROCOM-ERP/frontend-owner

add redirection to error pages in DisplayOrders
  src/frontend/webappService/src/components/DisplayOrders.js
Owners: @PROCOM-ERP/frontend-owner

add redirection to error pages in OrderForm
  src/frontend/webappService/src/components/OrderForm.js
Owners: @PROCOM-ERP/frontend-owner

add redirection to error pages in PasswordForm
  src/frontend/webappService/src/components/PasswordForm.js
Owners: @PROCOM-ERP/frontend-owner

add redirection to error pages in ProfilForm
  src/frontend/webappService/src/components/ProfilForm.js
Owners: @PROCOM-ERP/frontend-owner

add redirection to error pages in RoleForm
  src/frontend/webappService/src/components/RoleForm.js
Owners: @PROCOM-ERP/frontend-owner

add redirection to error pages in UserProfil
  src/frontend/webappService/src/components/UserProfil.js
Owners: @PROCOM-ERP/frontend-owner

add redirection to error pages in UserProfilAdmin
  src/frontend/webappService/src/components/UserProfilAdmin.js
Owners: @PROCOM-ERP/frontend-owner

Add: OrderService getOrderById
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/ProgressStatusResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Endpoint.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Path.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Permission.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
Owners: @PROCOM-ERP/backend-owner

Update: OrderService API doc
  docs/api/doc-api-order-service.json
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/ProgressStatusResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

Fix: error logger pattern to add methodType and methodName
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLogger.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLoggingAspect.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLoggingAspect.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLoggingAspect.java
Owners: @PROCOM-ERP/backend-owner

feat(Logs): filtering JSON in container message
  docker/elk/extensions/filebeat/config/filebeat.yml
  docker/elk/logstash/pipeline/logstash.conf
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/global-owner

fix(deploy)
  deploy.ps1
  deploy.sh
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner
