Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

feat: Adding users to the ERP via email
  src/frontend/webappService/src/components/AddUserForm.js
  src/frontend/webappService/src/css/AddUser.css
  src/frontend/webappService/src/pages/AddUser.js
Owners: @PROCOM-ERP/frontend-owner

feat: css for add user
  src/frontend/webappService/src/components/AddUserForm.js
  src/frontend/webappService/src/css/AddUser.css
  src/frontend/webappService/src/pages/AddUser.js
Owners: @PROCOM-ERP/frontend-owner

feat: Can create an employee
  src/frontend/webappService/src/components/AddUserForm.js
Owners: @PROCOM-ERP/frontend-owner

feat: dynamic orgUnit select
  src/frontend/webappService/src/components/AddUserForm.js
  src/frontend/webappService/src/components/ProfilForm.js
Owners: @PROCOM-ERP/frontend-owner

Fix: AuthenticationService returned value when creating LoginProfile entity
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileIdResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
Owners: @PROCOM-ERP/backend-owner

Fix: AuthenticationService returned value when creating LoginProfile entity
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
Owners: @PROCOM-ERP/backend-owner

fix: id is now automaticaly retrieved from first request login profile
  src/frontend/webappService/src/components/AddUserForm.js
Owners: @PROCOM-ERP/frontend-owner

Fix: fix warnings before push
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Category.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

Add: E03-US03-T01 dto classes
  src/backend/orderService/src/main/java/com/example/orderservice/dto/AddressCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/EmployeeCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderProductCreationRequestDto.java
Owners: @PROCOM-ERP/backend-owner

Add: E03-US03-T01 AddressService created
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/AddressCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/EmployeeCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderProductCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/AddressService.java
Owners: @PROCOM-ERP/backend-owner

Update: E03-US03-T01 AddressCreationRequestDto format constraints
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/AddressCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/AddressCreationRequestDto.java
Owners: @PROCOM-ERP/backend-owner

Update: E03-US03-T01 AddressService createAddress
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/AddressRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/AddressService.java
Owners: @PROCOM-ERP/backend-owner

Update: E03-US03-T01 EmployeeService createEmployee
  src/backend/orderService/src/main/java/com/example/orderservice/dto/EmployeeCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/EmployeeRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
Owners: @PROCOM-ERP/backend-owner

Add: E03-US03-T01 OrderService createOrder
  src/backend/orderService/src/main/java/com/example/orderservice/repository/OrderProductRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/ProgressStatusRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
Owners: @PROCOM-ERP/backend-owner

Add: E03-US03-T01 OrderController createOrder
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
Owners: @PROCOM-ERP/backend-owner

Add: E03-US03-T01 API Path
  src/backend/orderService/src/main/java/com/example/orderservice/model/Endpoint.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Path.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Permission.java
Owners: @PROCOM-ERP/backend-owner

Update: E03-US03-T01 DTO constraints
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderProductCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
Owners: @PROCOM-ERP/backend-owner

Update: E03-US03-T01 change init.sql files to add new permission and new address ids
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

Fix: E03-US03-T01 OrderController missing @RequestBody on createOrder
  docs/api/doc-api-order-service.json
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

Fix: E03-US03-T01 OrderService
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/OrderProduct.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/EmployeeRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix: E03-US03-T01 Init.sql files in directory and order services
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

Fix: E03-US03-T01 comment in OrderProduct.java to inform quote escapement on order field.
  src/backend/orderService/src/main/java/com/example/orderservice/model/OrderProduct.java
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix: E03-US03-T01 AddressService.java sanitize and hash methods for directory and order services
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/AddressService.java
Owners: @PROCOM-ERP/backend-owner

Fix: E03-US04-T01 EmployeeController.java init + Path.java + Permission.java and Endpoint.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/EmployeeController.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Endpoint.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Path.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Permission.java
Owners: @PROCOM-ERP/backend-owner

Modification des caractéristiques des champs de l'adresse
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix: E03-US04-T01 EmployeeController.java and EmployeeService.java
  src/backend/orderService/src/main/java/com/example/orderservice/controller/EmployeeController.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/EmployeeResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/EmployeeRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
Owners: @PROCOM-ERP/backend-owner

Add: E03-US04-T01 doc
  docs/api/doc-api-order-service.json
  src/backend/orderService/src/main/java/com/example/orderservice/OrderServiceApplication.java
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix: E03-US04-T01 EmployeeRepository.java imports
  src/backend/orderService/src/main/java/com/example/orderservice/repository/EmployeeRepository.java
Owners: @PROCOM-ERP/backend-owner

Fix: E03-US04-T01 AddressResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/AddressResponseDto.java
Owners: @PROCOM-ERP/backend-owner

Fix: E03-US04-T01 Employee information with Address
  src/backend/orderService/src/main/java/com/example/orderservice/controller/EmployeeController.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/EmployeeResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/EmployeeRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
Owners: @PROCOM-ERP/backend-owner

Fix: E03-US04-T01 Employee information with Address
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
Owners: @PROCOM-ERP/backend-owner

Add: E03-US04-T01 doc
  docs/api/doc-api-order-service.json
Owners: @PROCOM-ERP/global-owner

Fix/Test : E4-US07-T0[2/4/5] Fixing the product-category relation
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Category.java
Owners: @PROCOM-ERP/backend-owner

Fix/Test : E4-US07-T0[2/4/5] Fixing and testing the methods of products
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix/Test : E4-US07-T0[2/4/5] Fixing moveToAddress()
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix/Test : E4-US07-T0[2/4/5] Fixing moveToAddress()
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

Fix/Test : E4-US07-T0[2/4/5] Fixing warnings and @Pattern
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/MoveItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/NewItemRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/ProductRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoRequest/QuantityUpdateRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

feat(RabbitMQ): init roles message is now mandatory and persistant
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

feat(RabbitMQ): Init roles Dead-Letter + Exp backoff
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/RabbitMQConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

fix: import for init roles message sender
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner
