Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

Update: Refacto Order ProgressStatus model
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderUpdateProgressStatusDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Order.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/ProgressStatus.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/ProgressStatusRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/ProgressStatusService.java
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix: logback-spring.xml key-value
  src/backend/authenticationService/src/main/resources/logback-spring.xml
  src/backend/directoryService/src/main/resources/logback-spring.xml
  src/backend/inventoryService/src/main/resources/logback-spring.xml
  src/backend/orderService/src/main/java/com/example/orderservice/service/ProgressStatusService.java
  src/backend/orderService/src/main/resources/logback-spring.xml
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

Fix: CustomLogger.java MDC keys
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomLogger.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLogger.java
Owners: @PROCOM-ERP/backend-owner

Fix: reactivate MailService in AuthenticationService
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
Owners: @PROCOM-ERP/backend-owner

Add: Order ProgressStatus update
  src/backend/orderService/src/main/java/com/example/orderservice/controller/OrderController.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrderUpdateProgressStatusDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/ProgressStatusService.java
Owners: @PROCOM-ERP/backend-owner

Update: OrderService API doc
  docs/api/doc-api-order-service.json
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/databases-owner

Update: OrderService MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/config/RabbitMQConfig.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
Owners: @PROCOM-ERP/backend-owner

Add: Message system to update an Order approver
  src/backend/directoryService/src/main/java/com/example/directoryservice/config/RabbitMQConfig.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageReceiverService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/config/RabbitMQConfig.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageReceiverService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
Owners: @PROCOM-ERP/backend-owner

Add: Model classes in inventory service to start security config
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Endpoint.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/LoginProfile.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Path.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Permission.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Role.java
  src/backend/inventoryService/src/main/resources/application.yml
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner

Update: pom.xml in inventory service to include Spring security
  src/backend/inventoryService/pom.xml
  src/backend/inventoryService/prod-pom.xml
Owners: @PROCOM-ERP/system-owner

Add: security DTO and repositories
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/HttpStatusErrorDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/LoginProfileActivationResponseDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/PermissionDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/RoleActivationResponseDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/RoleResponseDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/RoleUpdateRequestDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/LoginProfileRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/RoleRepository.java
Owners: @PROCOM-ERP/backend-owner

Add: security services, config and utils in inventory service
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/annotation/LogError.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/annotation/LogExecutionTime.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/annotation/LogMessageReceived.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/annotation/LogMessageSent.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/config/RabbitMQConfig.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/config/RestConfig.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/config/SecurityConfig.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/EndpointService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/JwtService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/LoginProfileService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/MessageReceiverService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/MessageSenderService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/PermissionService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/RoleService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/utils/ControllerExceptionHandler.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/utils/CustomHttpRequestBuilder.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/utils/CustomLogger.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/utils/CustomLoggingAspect.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/utils/CustomStringUtils.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/utils/MessageUtils.java
  src/backend/inventoryService/src/main/resources/application.yml
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/system-owner

Add: security controller in inventory service
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/RoleController.java
Owners: @PROCOM-ERP/backend-owner

Add: security SQL tables in inventory service
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/databases-owner

Fix: sanitization mechanism in Authentication Service
  docker/docker-compose.yml
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfilePasswordUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleCreationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleUpdateRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomStringUtils.java
  src/backend/inventoryService/Dockerfile
  src/backend/inventoryService/src/main/resources/application.yml
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

Add: Approver setup order creation
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/ManagerResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/OrgUnit.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageReceiverService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageSenderService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomLogger.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/EmployeeDirectoryResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrgUnitEmployeeResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/OrganisationEmployeeResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/EmployeeRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/OrderRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageReceiverService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageSenderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
  src/databases/directoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Add: Approver setup order creation
  src/backend/orderService/src/main/java/com/example/orderservice/dto/EmployeeCreationRequestDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/dto/EmployeeResponseDto.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Employee.java
  src/backend/orderService/src/main/java/com/example/orderservice/repository/OrderRepository.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/EmployeeService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/MessageReceiverService.java
  src/backend/orderService/src/main/java/com/example/orderservice/service/OrderService.java
  src/backend/orderService/src/main/java/com/example/orderservice/utils/CustomLogger.java
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix: maven dependencies in docker-compose-swarm.yml
  docker/docker-compose-swarm.yml
Owners: @PROCOM-ERP/system-owner

sec-inv-branch Dev : adding the security paths
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Endpoint.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Path.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Permission.java
Owners: @PROCOM-ERP/backend-owner

sec-inv-branch Dev : adding the security paths
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/AddressController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Endpoint.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Path.java
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

sec-inv-branch Dev : changing the init.sql
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/databases-owner

sec-inv-branch Dev : changing the init.sql
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/databases-owner

sec-inv-branch Dev : changing the init.sql
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/databases-owner

sec-inv-branch Dev : changing the init.sql
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Endpoint.java
Owners: @PROCOM-ERP/backend-owner

Update: init.sql for authentication service fully filled + Role model updated to init a role with activation as false
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Role.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/RoleActivation.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomPasswordUtils.java
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

add error directory in page directory move error pages into /error delete data directory (only used in frontend)
  src/frontend/webappService/src/data/data.json
  src/frontend/webappService/src/pages/errors/Error401.js
  src/frontend/webappService/src/pages/errors/Error403.js
  src/frontend/webappService/src/pages/errors/Error404.js
Owners: @PROCOM-ERP/frontend-owner

add OrderProgress to manage order progress on DisplayOrder component (order page : display 1 order information)
  src/frontend/webappService/src/components/DisplayOrder.js
  src/frontend/webappService/src/components/OrderProgess.js
Owners: @PROCOM-ERP/frontend-owner

Update: init.sql for directory service fully filled + Role model updated to init a role with activation as false
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/AuthController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Role.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Role.java
  src/backend/orderService/src/main/java/com/example/orderservice/model/Role.java
  src/databases/directoryService/init.sql
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Update: init.sql for directory service fully filled + Role model updated to init a role with activation as false
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

Update: init.sql for directory service fully filled + Role model updated to init a role with activation as false
  src/databases/inventoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

Update: init.sql for authentication service with admins repartition
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/databases-owner

manage progress status for order
  src/frontend/webappService/src/components/DisplayOrder.js
  src/frontend/webappService/src/components/OrderProgess.js
Owners: @PROCOM-ERP/frontend-owner

change errors path in App.js => pages/errors/ErrorXXX.js
  src/frontend/webappService/src/App.js
Owners: @PROCOM-ERP/frontend-owner

Update: init.sql for order service
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

changes in OrderProgress because lacking information
  src/frontend/webappService/src/components/OrderProgess.js
Owners: @PROCOM-ERP/frontend-owner

Fix: init.sql regex for directory and order service
  src/databases/directoryService/init.sql
  src/databases/orderService/init.sql
Owners: @PROCOM-ERP/databases-owner

handle validate button i OrderProgress
  src/frontend/webappService/src/components/OrderProgess.js
Owners: @PROCOM-ERP/frontend-owner

orderProgress: - add comments - code is optimized displayOrders: - change idOrder props to orderId
  src/frontend/webappService/src/components/DisplayOrder.js
  src/frontend/webappService/src/components/OrderProgess.js
Owners: @PROCOM-ERP/frontend-owner

delete console.log in order progress
  src/frontend/webappService/src/components/OrderProgess.js
Owners: @PROCOM-ERP/frontend-owner

Fix: RoleService.java in authentication service to manage case where roles from other microservice don't exist locally
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Role.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageReceiverService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
Owners: @PROCOM-ERP/backend-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner
