Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

commit on service changes
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ItemDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/TransactionDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/TransactionService.java
Owners: @PROCOM-ERP/backend-owner

Refacto role_services into role_activations and employees into login_profiles
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Employee.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/LoginProfile.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Role.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/RoleActivation.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/RoleActivationId.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/EmployeeRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/LoginProfileRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleServiceRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/CustomUserDetailsService.java
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Rename all employee instance into loginProfile
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileIsEnableMessageDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileMessageDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileResponseDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/LoginProfileRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/EmployeeService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
Owners: @PROCOM-ERP/backend-owner

Rename all employee instance into loginProfile
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileIsEnableMessageDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/LoginProfileMessageDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Endpoint.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Path.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Permission.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomJwtAuthenticationConverter.java
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Rename all employee instance into loginProfile
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Endpoint.java
Owners: @PROCOM-ERP/backend-owner

Rename all employee instance into loginProfile
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomJwtAuthenticationConverter.java
Owners: @PROCOM-ERP/backend-owner

system: trying to adapt scripts to windows devs
  src/security/docker_secrets.bat
  src/security/docker_secrets.ps1
  src/security/docker_secrets_files.ps1
  src/system/deploy.ps1
Owners: @PROCOM-ERP/global-owner

Role refacto finished in authentication service
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/AuthServiceApplication.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/RabbitMQConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/RestConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/config/SecurityConfig.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/AuthController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/LoginProfileController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleActivationDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleActivationRequestDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleResponseAQMPDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Endpoint.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Path.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/RoleActivationId.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleActivationRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/CustomUserDetailsService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/JwtService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/ControllerExceptionHandler.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomJwtAuthenticationConverter.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RabbitMQReceiver.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RabbitMQSender.java
Owners: @PROCOM-ERP/backend-owner

Fix RoleActivation id mecanism
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/RoleActivation.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/RoleActivationId.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleActivationRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/config/RabbitMQConfig.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/RabbitMQReceiver.java
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix Directory Import
  src/backend/directoryService/src/main/java/com/example/directoryservice/config/RabbitMQConfig.java
Owners: @PROCOM-ERP/backend-owner

feat:security scripts for Windows
  src/security/clean_security.ps1
  src/security/security_setup.ps1
Owners: @PROCOM-ERP/global-owner

fix: image names on distant repo
  src/system/deploy.sh
Owners: @PROCOM-ERP/system-owner

feat: security scripts for Windows User finalized
  src/security/clean_security.ps1
  src/security/docker_secrets.ps1
  src/security/security_setup.ps1
  src/system/deploy.ps1
Owners: @PROCOM-ERP/global-owner

fix: woopsy
  src/security/docker_secrets.bat
  src/security/docker_secrets_files.ps1
Owners: @PROCOM-ERP/global-owner

fix: woops numéro 20000
  src/security/docker_secrets.ps1
Owners: @PROCOM-ERP/global-owner

commit du matin que je n'ai pas fait hier soir
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/AddressDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ItemDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/AddressRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

End of basic services
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
Owners: @PROCOM-ERP/backend-owner

Minor changes on services (again)
  docs/classes/.$inventory-class-diagram.svg.dtmp
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/AddressRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/TransactionService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

docs: update docs
  docs/security/README.md
Owners: @PROCOM-ERP/doc-owner

Minor changes on Controller
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

Minor changes on Controller
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/AddressController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/InventoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
Owners: @PROCOM-ERP/backend-owner

InventoryController.java deleted (deprecated)
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/InventoryController.java
Owners: @PROCOM-ERP/backend-owner

Ajout des certificats (merci Gaël)
  src/security/CA/procom-erp-ca.crt
  src/security/CA/procom-erp-ca.key
  src/security/authentication/authentication-service.crt
  src/security/authentication/authentication-service.csr
  src/security/authentication/authentication-service.key
  src/security/directory/directory-service.crt
  src/security/directory/directory-service.csr
  src/security/directory/directory-service.key
  src/security/gateway/gateway-service.crt
  src/security/gateway/gateway-service.csr
  src/security/gateway/gateway-service.key
  src/security/inventory/inventory-service.crt
  src/security/inventory/inventory-service.csr
  src/security/inventory/inventory-service.key
  src/security/message-broker/message-broker-service.crt
  src/security/message-broker/message-broker-service.csr
  src/security/message-broker/message-broker-service.key
  src/system/procom-erp-ca.pem
Owners: @PROCOM-ERP/global-owner

minor changes on Controllers
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/AddressController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
Owners: @PROCOM-ERP/backend-owner

comment InventoryServiceApplicationTests class
  docs/classes/.$inventory-class-diagram.svg.dtmp
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/test/java/com/example/inventoryservice/InventoryServiceApplicationTests.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/product-owner

minor commit
  docs/classes/.$inventory-class-diagram.svg.dtmp
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/AddressController.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

removing certs
  src/security/CA/procom-erp-ca.crt
  src/security/CA/procom-erp-ca.key
  src/security/authentication/authentication-service.crt
  src/security/authentication/authentication-service.csr
  src/security/authentication/authentication-service.key
  src/security/directory/directory-service.crt
  src/security/directory/directory-service.csr
  src/security/directory/directory-service.key
  src/security/gateway/gateway-service.crt
  src/security/gateway/gateway-service.csr
  src/security/gateway/gateway-service.key
  src/security/inventory/inventory-service.crt
  src/security/inventory/inventory-service.csr
  src/security/inventory/inventory-service.key
  src/security/message-broker/message-broker-service.crt
  src/security/message-broker/message-broker-service.csr
  src/security/message-broker/message-broker-service.key
  src/system/procom-erp-ca.pem
Owners: @PROCOM-ERP/global-owner

removing certs
  src/security/archive/2024-02-01-15-41-07/CA/procom-erp-ca.key
  src/security/archive/2024-02-01-15-41-07/authentication/authentication-service.key
  src/security/archive/2024-02-01-15-41-07/directory/directory-service.key
  src/security/archive/2024-02-01-15-41-07/gateway/gateway-service.key
  src/security/archive/2024-02-01-15-41-07/inventory/inventory-service.key
  src/security/archive/2024-02-01-15-41-07/message-broker/message-broker-service.key
  src/security/archive/2024-02-01-15-42-56/CA/procom-erp-ca.key
  src/security/archive/2024-02-01-15-42-56/authentication/authentication-service.key
  src/security/archive/2024-02-01-15-42-56/directory/directory-service.key
  src/security/archive/2024-02-01-15-42-56/gateway/gateway-service.key
  src/security/archive/2024-02-01-15-42-56/inventory/inventory-service.key
  src/security/archive/2024-02-01-15-42-56/message-broker/message-broker-service.key
  src/security/archive/2024-02-01-16-12-34/CA/procom-erp-ca.key
  src/security/archive/2024-02-01-16-12-34/authentication/authentication-service.key
  src/security/archive/2024-02-01-16-12-34/directory/directory-service.key
  src/security/archive/2024-02-01-16-12-34/gateway/gateway-service.key
  src/security/archive/2024-02-01-16-12-34/inventory/inventory-service.key
  src/security/archive/2024-02-01-16-12-34/message-broker/message-broker-service.key
Owners: @PROCOM-ERP/global-owner

system: route for Inventory service created
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

system: database for inventoryService created
  .env
  docker-compose.yml
  src/backend/inventoryService/src/main/resources/application.yml
  src/databases/inventoryService/postgresql.conf
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/databases-owner

system: swarm mode detection added
  src/system/deploy.sh
Owners: @PROCOM-ERP/system-owner

modif code directoryTable
  src/frontend/webappService/src/components/DirectoryTable.js
Owners: @PROCOM-ERP/frontend-owner

directory table and search bar done todo: css
  src/frontend/webappService/src/components/DirectoryTable.js
Owners: @PROCOM-ERP/frontend-owner

change input placeholder
  src/frontend/webappService/src/components/DirectoryTable.js
Owners: @PROCOM-ERP/frontend-owner

modify user profil test api auth for connected user (Profil)-> not working, can not retrieve all needed info
  src/frontend/webappService/src/components/UpdatePassword.js
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/UserProfil.css
  src/frontend/webappService/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner

added directory profil : click on id to navigate to user profil
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/css/UserProfil.css
  src/frontend/webappService/src/pages/Admin.js
  src/frontend/webappService/src/pages/DirectoryProfil.js
  src/frontend/webappService/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner

Adding debbug logger + changing the api names.
  docs/classes/.$inventory-class-diagram.svg.dtmp
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/AddressController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/CategoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/HelloController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

render button to change the UserProfil delete filter on connected user in directory
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/UserProfil.css
Owners: @PROCOM-ERP/frontend-owner

add admin pages adapt navbar css to 2 modes (admin / user) set up links to admin pages
  src/frontend/webappService/src/App.js
  src/frontend/webappService/src/components/Navbar.js
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/css/Navbar.css
  src/frontend/webappService/src/css/UserProfil.css
  src/frontend/webappService/src/pages/Admin.js
  src/frontend/webappService/src/pages/AdminHome.js
  src/frontend/webappService/src/pages/AdminPermissions.js
  src/frontend/webappService/src/pages/AdminUser.js
  src/frontend/webappService/src/pages/AdminUsers.js
Owners: @PROCOM-ERP/frontend-owner

CSS affiche profil
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/css/UserProfil.css
  src/frontend/webappService/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner
