Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

Working on E04-US05-T01 Post on product with categories works. Working on adding items when creating product
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

Working on E04-US05-T01 Working on adding items and transactions when creating product
  docs/classes/.$inventory-class-diagram.svg.dtmp
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/AddressController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

Fix : E04-US05-T01 Working on adding items and transactions when creating product
  docs/classes/.$inventory-class-diagram.svg.dtmp
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

add permissions page
  src/frontend/webappService/src/components/DisplayPermissions.js
Owners: @PROCOM-ERP/frontend-owner

modify profil ID et Roles non modifiable
  src/frontend/webappService/src/components/ProfilForm.js
Owners: @PROCOM-ERP/frontend-owner

system: keeping current pom.xml files for IDE dev too
  pom.xml
  src/backend/authenticationService/pom.xml
  src/backend/directoryService/pom.xml
  src/backend/gatewayService/pom.xml
Owners: @PROCOM-ERP/system-owner

fix: api gateway routes
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

style: .env format and comments
  .env
Owners: @PROCOM-ERP/system-owner

feat: Maven Wrapper is passed down instead of dl mvn in containers
  deploy.ps1
  deploy.sh
  src/backend/authenticationService/mvnw.cmd
  src/backend/directoryService/.mvn/wrapper/maven-wrapper.jar
  src/backend/directoryService/.mvn/wrapper/maven-wrapper.properties
  src/backend/directoryService/mvnw
  src/backend/directoryService/mvnw.cmd
  src/backend/gatewayService/.mvn/wrapper/maven-wrapper.jar
  src/backend/gatewayService/.mvn/wrapper/maven-wrapper.properties
  src/backend/gatewayService/mvnw
  src/backend/gatewayService/mvnw.cmd
  src/system/.mvn/wrapper/maven-wrapper.jar
  src/system/.mvn/wrapper/maven-wrapper.properties
  src/system/mvnw
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

system: we copy Maven Wrapper and use that instead of dl and using Maven
  src/backend/authenticationService/Dockerfile
  src/backend/directoryService/Dockerfile
  src/backend/gatewayService/Dockerfile
Owners: @PROCOM-ERP/system-owner

fix: no need for localTest
  src/databases/localTestService/postgresql.conf
Owners: @PROCOM-ERP/databases-owner

feat: the script has to be executed from root now
  src/security/clean_security.sh
  src/security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

change css of UserProfil.js
  src/frontend/webappService/src/components/UserProfil.js
  src/frontend/webappService/src/css/UserProfil.css
Owners: @PROCOM-ERP/frontend-owner

doc: Deployment doc
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

fix: typo
  docs/DEPLOYING.md
Owners: @PROCOM-ERP/doc-owner

fix: certificates gitted
  src/frontend/webappService/webapp-service.crt
  src/frontend/webappService/webapp-service.key
Owners: @PROCOM-ERP/frontend-owner

system: deploy script adapted
  deploy.ps1
  deploy.sh
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/system-owner

feat: PATCH added to gateway CORS config
  .env
  docker-compose-swarm.yml
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner

Update: Directory Service SQL model
  src/databases/authenticationService/init.sql
  src/databases/directoryService/init.sql
Owners: @PROCOM-ERP/databases-owner

Update: Directory Service Java model
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Address.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Employee.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/LoginProfile.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/OrgUnit.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Organisation.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Service.java
Owners: @PROCOM-ERP/backend-owner

Update: Directory Service E02-US07
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/AddressController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/AddressRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/AddressResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/EmployeeRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/EmployeeRequestInfoDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/EmployeeResponseAQMPEnableDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/EmployeeResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/OrganisationRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/OrganisationResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/ServiceRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/ServiceResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/repository/AddressRepository.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/repository/EmployeeRepository.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/repository/LoginProfileRepository.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/ServiceService.java
Owners: @PROCOM-ERP/backend-owner

Update: Directory Service E02-US07
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/AddressController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/AddressCreationRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/repository/EmployeeRepository.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
Owners: @PROCOM-ERP/backend-owner

Update: Directory Service E02-US06
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/AddressController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/OrganisationController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/OrgUnitResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/OrganisationResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Organisation.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/OrganisationService.java
Owners: @PROCOM-ERP/backend-owner

Update: Directory Service Employee features (in progress)
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/EmployeeController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/ServiceController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/EmployeeCreationRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/EmployeeResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/EmployeeUpdateRequestDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/OrgUnitEmployeeResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/OrganisationEmployeeResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Employee.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/LoginProfile.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/OrgUnit.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/repository/EmployeeRepository.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/repository/OrgUnitRepository.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/repository/ServiceRepository.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
Owners: @PROCOM-ERP/backend-owner

Fix : E04-US05-T01 Almost done
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Transaction.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/repository/AddressRepository.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/AddressService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

Fix : E04-US05-T01 Changes according to the Thibaut review
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/databases-owner

system: front image version updated
  .env
Owners: @PROCOM-ERP/system-owner

fix: routes to services updated
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/components/AuthHelloWorld.js
  src/frontend/webappService/src/components/DirHelloWorld.js
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/components/UserProfil.js
Owners: @PROCOM-ERP/frontend-owner

system: included the frontend to Docker swarm deployment
  docker-compose-swarm.yml
  src/frontend/webappService/Dockerfile
Owners: @PROCOM-ERP/system-owner

Update: Directory Service Employee features done
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/EmployeeController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Endpoint.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Path.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Permission.java
Owners: @PROCOM-ERP/backend-owner

Update: Directory Service LoginProfileService done
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/MessageSenderService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/dto/LoginProfileActivationResponseDto.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/repository/LoginProfileRepository.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/LoginProfileService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageReceiverService.java
Owners: @PROCOM-ERP/backend-owner

Update: Directory Service MessageReceiverService done
  src/backend/directoryService/src/main/java/com/example/directoryservice/config/RabbitMQConfig.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageReceiverService.java
Owners: @PROCOM-ERP/backend-owner

Update: Authentication notifications done
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/LoginProfileService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/MessageReceiverService.java
Owners: @PROCOM-ERP/backend-owner

Fix: service name injection
  .env
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/CustomHttpRequestBuilder.java
  src/backend/authenticationService/src/main/resources/application.yml
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/RoleService.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomHttpRequestBuilder.java
  src/backend/directoryService/src/main/resources/application.yml
  src/backend/gatewayService/src/main/resources/application.yml
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

Fix: Directory JwtConverter
  src/backend/directoryService/src/main/java/com/example/directoryservice/utils/CustomJwtAuthenticationConverter.java
Owners: @PROCOM-ERP/backend-owner

Fix: Authentication Permissions
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Endpoint.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Permission.java
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix: Directory Addresses Permissions
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/AddressController.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Endpoint.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/AddressService.java
Owners: @PROCOM-ERP/backend-owner

Fix: Directory Addresses Permissions
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/AddressController.java
Owners: @PROCOM-ERP/backend-owner

Fix: Directory update Employee
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Endpoint.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/model/Permission.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
  src/databases/directoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

Fix: Directory update Employee
  src/backend/directoryService/src/main/java/com/example/directoryservice/service/EmployeeService.java
Owners: @PROCOM-ERP/backend-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner
