Repository PROCOM-ERP/IMT-3A-PROCOM-ERP, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner, @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner, @PROCOM-ERP/product-owner, @PROCOM-ERP/system-owner, @PROCOM-ERP/doc-owner

.github/CODEOWNERS:

# default team for everything
* @PROCOM-ERP/global-owner

# frontend and subdirectories
/src/frontend/ @PROCOM-ERP/frontend-owner

# backend and subdirectories
/src/backend/ @PROCOM-ERP/backend-owner

# databases and subdirectories
/src/databases/ @PROCOM-ERP/databases-owner

# test files and Github CI Actions
/src/backend/**/test/ @PROCOM-ERP/product-owner
/.github/workflows/ @PROCOM-ERP/product-owner

# system files
Dockerfile @PROCOM-ERP/system-owner
*.env @PROCOM-ERP/system-owner
*.xml @PROCOM-ERP/system-owner
*.yml @PROCOM-ERP/system-owner
*.properties @PROCOM-ERP/system-owner
*.sh @PROCOM-ERP/system-owner
*.p12 @PROCOM-ERP/system-owner

# documentation
*.md @PROCOM-ERP/doc-owner

system: a try on secrets and Docker swarm
  .env
  docker-compose.yml
  src/backend/authenticationService/Dockerfile
  src/security/docker_secrets.sh
  src/system/deploy.sh
Owners: @PROCOM-ERP/system-owner

Init Branch with API doc fix for resource endpoints
  docs/api/doc-api-authentication-service.json
  docs/api/doc-api-directory-service.json
Owners: @PROCOM-ERP/global-owner

Commit du matin qui fait plaisir End of models (normally)
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Inventory.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

modif css authentification page
  src/frontend/webappService/public/index.html
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/css/AuthForm.css
  src/frontend/webappService/src/css/Button.css
  src/frontend/webappService/src/pages/Authentification.js
Owners: @PROCOM-ERP/frontend-owner

mini modif handleReset - authform page
  src/frontend/webappService/src/components/AuthForm.js
Owners: @PROCOM-ERP/frontend-owner

affichage css profil page
  src/frontend/webappService/src/css/App.css
  src/frontend/webappService/src/css/AuthForm.css
  src/frontend/webappService/src/css/Button.css
  src/frontend/webappService/src/css/Navbar.css
  src/frontend/webappService/src/css/Profil.css
  src/frontend/webappService/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner

login page css v1 finished :)
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/css/AuthForm.css
  src/frontend/webappService/src/css/Button.css
Owners: @PROCOM-ERP/frontend-owner

directory table added
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/data/data.json
  src/frontend/webappService/src/pages/Directory.js
Owners: @PROCOM-ERP/frontend-owner

get methods done. Need to test them.
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

draw.io changes
  docs/classes/.$StockDatabaseDiagram.svg.bkp
  docs/classes/.$StockDatabaseDiagram_v2.svg.bkp
  docs/classes/.$StockUseCaseDiagram.svg.bkp
  docs/classes/.$inventory-class-diagram.svg.bkp
  docs/classes/StockDatabaseDiagram.svg
  docs/classes/StockDatabaseDiagram_v2.svg
  docs/classes/StockUseCaseDiagram.svg
  docs/classes/inventory-class-diagram.svg
Owners: @PROCOM-ERP/global-owner

Adding security files.
  src/security/CA/procom-erp-ca.crt
  src/security/CA/procom-erp-ca.key
  src/security/archive/2024-02-01-15-41-07/CA/procom-erp-ca.key
  src/security/archive/2024-02-01-15-41-07/authentication/authentication-service.key
  src/security/archive/2024-02-01-15-41-07/directory/directory-service.key
  src/security/archive/2024-02-01-15-41-07/gateway/gateway-service.key
  src/security/archive/2024-02-01-15-41-07/inventory/inventory-service.key
  src/security/archive/2024-02-01-15-41-07/message-broker/message-broker-service.key
  src/security/archive/2024-02-01-15-42-56/CA/procom-erp-ca.key
  src/security/archive/2024-02-01-15-42-56/authentication/authentication-service.key
  src/security/archive/2024-02-01-15-42-56/directory/directory-service.key
  src/security/archive/2024-02-01-15-42-56/gateway/gateway-service.key
  src/security/archive/2024-02-01-15-42-56/inventory/inventory-service.key
  src/security/archive/2024-02-01-15-42-56/message-broker/message-broker-service.key
  src/security/archive/2024-02-01-16-12-34/CA/procom-erp-ca.key
  src/security/archive/2024-02-01-16-12-34/authentication/authentication-service.key
  src/security/archive/2024-02-01-16-12-34/directory/directory-service.key
  src/security/archive/2024-02-01-16-12-34/gateway/gateway-service.key
  src/security/archive/2024-02-01-16-12-34/inventory/inventory-service.key
  src/security/archive/2024-02-01-16-12-34/message-broker/message-broker-service.key
  src/security/authentication/authentication-service.crt
  src/security/authentication/authentication-service.csr
  src/security/authentication/authentication-service.key
  src/security/directory/directory-service.crt
  src/security/directory/directory-service.csr
  src/security/directory/directory-service.key
  src/security/gateway/gateway-service.crt
  src/security/gateway/gateway-service.csr
  src/security/gateway/gateway-service.key
  src/security/inventory/inventory-service.crt
  src/security/inventory/inventory-service.csr
  src/security/inventory/inventory-service.key
  src/security/message-broker/message-broker-service.crt
  src/security/message-broker/message-broker-service.csr
  src/security/message-broker/message-broker-service.key
  src/system/procom-erp-ca.pem
Owners: @PROCOM-ERP/global-owner

Add association between role and service in SQL model
  src/databases/authenticationService/init.sql
Owners: @PROCOM-ERP/databases-owner

Add association between role and service in Java model
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Role.java
Owners: @PROCOM-ERP/backend-owner

Add association between role and service in Java model + Repository and updateRoleServiceEnable method
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/dto/RoleResponseAQMPDto.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/Role.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/RoleServiceId.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/model/RoleServices.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/repository/RoleServiceRepository.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RabbitMQReceiver.java
Owners: @PROCOM-ERP/backend-owner

test auth api
  src/frontend/webappService/package-lock.json
  src/frontend/webappService/package.json
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/css/AuthForm.css
  src/frontend/webappService/src/data/data.json
  src/frontend/webappService/src/pages/Profil.js
  src/frontend/webappService/webapp-service.crt
  src/frontend/webappService/webapp-service.key
Owners: @PROCOM-ERP/frontend-owner

Code broken but don't worry I'm on it
  .env
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/HelloController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/controller/RoleController.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/service/RoleService.java
  src/backend/authenticationService/src/main/java/com/example/authenticationservice/utils/RabbitMQReceiver.java
  src/backend/directoryService/src/main/java/com/example/directoryservice/controller/HelloController.java
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

Modifications of models, adding mode dto files, implementing getProduct
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/InventoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/AddressDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/CategoryDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/InventoryDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ItemDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/TransactionDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Address.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Category.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Inventory.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Product.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
  src/databases/inventoryService/init.sql
Owners: @PROCOM-ERP/backend-owner, @PROCOM-ERP/databases-owner

jwt auth api request done - jwt in local storage, error message ok, navigate to home page ok
  docs/api/doc-api-authentication-service.json
  docs/api/doc-api-directory-service.json
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/components/AuthHelloWorld.js
  src/frontend/webappService/src/pages/Authentification.js
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/frontend-owner

x
  src/frontend/webappService/src/components/AuthForm.js
Owners: @PROCOM-ERP/frontend-owner

x
  src/frontend/webappService/src/components/AuthForm.js
Owners: @PROCOM-ERP/frontend-owner

Commit, minor changes on dto et get function.
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/FullAddressDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ItemDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/TransactionService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

logs: rabbitmq logs added
  src/backend/message-brokerService/config/rabbitmq.conf
Owners: @PROCOM-ERP/backend-owner

system: Docker Swarm docker-compose adapted
  .env
  docker-compose.yml
  src/backend/directoryService/Dockerfile
  src/backend/gatewayService/Dockerfile
  src/backend/message-brokerService/Dockerfile
  src/databases/authenticationService/Dockerfile
  src/databases/directoryService/Dockerfile
  src/system/db_entrypoint.sh
  src/system/deploy.sh
  src/system/entrypoint.sh
Owners: @PROCOM-ERP/system-owner

fix: expose is useless on docker swarm mode
  docker-compose.yml
Owners: @PROCOM-ERP/system-owner

style: comments deleted
  src/backend/authenticationService/Dockerfile
Owners: @PROCOM-ERP/system-owner

system: gatekeeper for added protection
  src/security/clean_security.sh
  src/security/security_setup.sh
Owners: @PROCOM-ERP/system-owner

system: SSL to adapt to Docker Swarm Networking
  src/backend/authenticationService/src/main/resources/application.yml
  src/backend/directoryService/src/main/resources/application.yml
  src/backend/gatewayService/src/main/resources/application.yml
  src/backend/message-brokerService/config/rabbitmq.conf
Owners: @PROCOM-ERP/system-owner, @PROCOM-ERP/backend-owner

system: Argument added at build
  src/backend/directoryService/Dockerfile
  src/backend/message-brokerService/Dockerfile
Owners: @PROCOM-ERP/system-owner

system: beautiful deploy script
  src/system/deploy.sh
Owners: @PROCOM-ERP/system-owner

fix: Hostname is more practical
  src/system/entrypoint.sh
Owners: @PROCOM-ERP/system-owner

system: Docker swarm implementation
  .env
  docker-compose.yml
Owners: @PROCOM-ERP/system-owner

oops: oula
  src/security/docker_secrets.sh
Owners: @PROCOM-ERP/system-owner

Commit du matin qui fait plaisir
  docs/classes/inventory-class-diagram.svg
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/InventoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoAddress/AddressDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoProduct/AddressDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoProduct/CategoryDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoProduct/ItemDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoProduct/ProductDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoProduct/TransactionDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/model/Item.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/global-owner, @PROCOM-ERP/backend-owner

docs: updated docs separating deployment from security guide
  docs/DEPLOYING.md
  docs/security/README.md
Owners: @PROCOM-ERP/doc-owner

docs: update docs
  docs/security/README.md
Owners: @PROCOM-ERP/doc-owner

Changes (again) about DTO. :(
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/InventoryController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/controller/ProductController.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/AddressDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/CategoryDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ItemDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/ProductDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dto/TransactionDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/dtoAddress/AddressDto.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/CategoryService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ItemService.java
  src/backend/inventoryService/src/main/java/com/example/inventoryservice/service/ProductService.java
Owners: @PROCOM-ERP/backend-owner

fix: system script updated for clarity
  src/system/deploy.sh
Owners: @PROCOM-ERP/system-owner

hello world directory added and tested in login page comments added
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/components/DirHelloWorld.js
  src/frontend/webappService/src/pages/Authentification.js
Owners: @PROCOM-ERP/frontend-owner

set api dir for profil info
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner

get user profil information from directory api display user information in profil page
  src/frontend/webappService/src/components/AuthForm.js
  src/frontend/webappService/src/components/DirectoryTable.js
  src/frontend/webappService/src/components/ProfilForm.js
  src/frontend/webappService/src/pages/ModifyProfil.js
  src/frontend/webappService/src/pages/Profil.js
Owners: @PROCOM-ERP/frontend-owner
